<section style="height:680px;" id="slider" class="swiper_wrapper full-screen clearfix">
  <div class="slider-parallax-inner">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark" style="background-color:#000;background-image: url('images/destination-detail-bg.jpg');  height:680px;">
          <div class="container clearfix">
            <div class="center-block">
              <h2 class="text-center" style="font-size:48px;letter-spacing:0px;font-weight:600;color:#fff;margin-top:200px;" data-caption-animate="fadeInUp">
                Our Story
              </h2>
              <!--<p style="font-size:3rem; font-style:italic;" class="text-center"> is a stunning tapestry</p>-->

            </div>

          </div>
          <div style="width:100%;height:150px;background-color: rgba(0,0,0,.66);position:absolute;bottom:0;">
            <div class="center-block">

              <h2 class="text-center" style="font-size:32px;letter-spacing:0px;font-weight:200;color:#fff; margin-top:30px;" data-caption-animate="fadeInUp">
                ENRICHING LIVES THROUGH GREAT EXPERIENCES
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="clearfix center-block" style="width:70%;">

    


      <div style="margin-top:50px;" class="clearfix">
        <div class="pull-right" style="width:40%;">
          <a href="images/blog1.jpg" data-lightbox="image"><img height="300px;" src="images/blog1.jpg" alt="Standard Post with Image"></a>
        </div>

        <div class="pull-left" style="width:50%; padding-right:40px;">
          <div class="entry-title">
            <h3 style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
              Who we are ?</h3>
          </div>

          <div class="entry-content" style="margin-top:20px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi,
              deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus
              officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab
              facere.
            </p>
          </div>
        </div>
      </div>




      <div style="margin:30px 0 30px 0;" class="clearfix">
        <div class="pull-left" style="width:40%;">
          <a href="images/blog2.jpg" data-lightbox="image"><img height="300px;" class="image_fade" src="images/blog2.jpg" alt="Standard Post with Image"></a>
        </div>

        <div class="pull-right" style="width:50%; padding-left:10px;">
          <div class="entry-title">
            <h3 style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
              What we're all about ?</h3>
          </div>

          <div class="entry-content" style="margin-top:20px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi,
              deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus
              officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab
              facere.
            </p>
          </div>
        </div>
      </div>


      <div>

      </div>
    </div>

  </div>


  <div style="background-color:#EEE; padding:20px 20px 20px 20px; margin-bottom:50px;" class="container">

        <h2 style="text-align:center; margin-bottom:50px;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
          Meet The Team
          <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
          </div>
        </h2>

    <div class="row row-centered">
      <div style="margin-bottom:10px;" ng-repeat="destination in destinations" class="col-xs-3 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <div class="center-block" style="max-width:250px; max-height:300px; background:#fff; padding:10px; border-radius:5px;">

              <img class="center-block img-circle" width="100" height="100" src="images/manipur.jpg" />

              <h4 class="text-center">Name</h4>

              <h6 class="text-center">Some Text</h6>

              <div class="feature-box fbox-small fbox-plain">
                <div class="fbox-icon">
                  <a><i class="icon-adjust"></i>
							</div>
							<div style="padding-top:5px;">Something Something</div>
						</div>

            <div class="feature-box fbox-small fbox-plain">
                <div class="fbox-icon">
                  <a><i class="icon-adjust"></i>
							</div>
							<div style="padding-top:5px;">Something Something</div>
						</div>
            </div>
            <!--
            <h5 style="font-size:1.6rem" class="text-center">
                    {{destination.name}}</h5>-->
          </div>
        </div>
      </div>


















    </div>
  </div>


</section>
<!-- #content end -->
