<div class="cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/about/about-cover.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="center-block">
      <h2 class="text-center" style="font-size:48px;letter-spacing:0px;font-weight:600;color:#fff;margin-top:200px;" data-caption-animate="fadeInUp">
        Our Story
      </h2>
      <!--<p style="font-size:3rem; font-style:italic;" class="text-center"> is a stunning tapestry</p>-->
    </div>
  </div>
</div>

<div class="mobile-cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/mobile/about_cover.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="center-block">
      <h2 class="text-center" style="font-size:48px;letter-spacing:0px;font-weight:600;color:#fff;margin-top:200px;" data-caption-animate="fadeInUp">
        Our Story
      </h2>
      <!--<p style="font-size:3rem; font-style:italic;" class="text-center"> is a stunning tapestry</p>-->
    </div>
  </div>
</div>

<!-- Content
		============================================= -->
<section id="content">

  <div style="background-color:#EEE; padding:20px 20px 20px 20px; margin-bottom:50px;" class="container">

        <h2 style="text-align:center; margin-bottom:50px;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
          Meet The Team
          <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
          </div>
        </h2>

  </div>


</section>
<!-- #content end -->
