<div class="cover-page page-title-parallax" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/about/about-cover.jpg'); background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; height:100vh;">
  <div class="container clearfix">
    <h1 style="margin-top:                                                                                                                              25%; color: rgba(255,255,255,0.9)">About Us</h1>
    <span style="color: rgba(255,255,255,0.9)">Everything you need to know about our Company</span>
    
  </div>

</div>

<div class="mobile-cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/mobile/about_cover.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="center-block">
      <h2 class="text-center" style="font-size:48px;letter-spacing:0px;font-weight:600;color:#fff;margin-top:200px;" data-caption-animate="fadeInUp">
        Our Story
      </h2>
      <!--<p style="font-size:3rem; font-style:italic;" class="text-center"> is a stunning tapestry</p>-->
    </div>
  </div>
</div>

<!-- Content
		============================================= -->
		<section id="content">
      
            <div class="content-wrap">
      
              <div class="container clearfix">

                	<div class="heading-block center">
                      <h2>Meet The Team</h2>
                    </div>
          
                    <div class="row clearfix">
          
                      <div class="col-md-6 bottommargin">
                        <div class="team team-list clearfix">
                          <div class="team-image">
                            <img src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/about/ceo.jpg" alt="John Doe">
                          </div>
                          <div class="team-desc">
                            <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
                            <div class="team-content">
                              <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                              <i class="icon-facebook"></i>
                              <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                              <i class="icon-twitter"></i>
                              <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                              <i class="icon-gplus"></i>
                              <i class="icon-gplus"></i>
                            </a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col-md-6 bottommargin">
                        <div class="team team-list clearfix">
                          <div class="team-image">
                            <img src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/about/ceo.jpg" alt="Josh Clark">
                          </div>
                          <div class="team-desc">
                            <div class="team-title"><h4>Josh Clark</h4><span>Co-Founder</span></div>
                            <div class="team-content">
                              <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                              <i class="icon-facebook"></i>
                              <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                              <i class="icon-twitter"></i>
                              <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                              <i class="icon-gplus"></i>
                              <i class="icon-gplus"></i>
                            </a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col-md-6 bottommargin">
                        <div class="team team-list clearfix">
                          <div class="team-image">
                            <img src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/about/ceo.jpg" alt="Mary Jane">
                          </div>
                          <div class="team-desc">
                            <div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
                            <div class="team-content">
                              <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                              <i class="icon-facebook"></i>
                              <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                              <i class="icon-twitter"></i>
                              <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                              <i class="icon-gplus"></i>
                              <i class="icon-gplus"></i>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 bottommargin">
                          <div class="team team-list clearfix">
                            <div class="team-image">
                              <img src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/about/ceo.jpg" alt="Mary Jane">
                            </div>
                            <div class="team-desc">
                              <div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
                              <div class="team-content">
                                <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                              </div>
                              <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                              </a>
                              <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                              </a>
                              <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                              </a>
                            </div>
                          </div>
                        </div>
          
                    </div>
      
      
              </div>
    
            </div>
      
          </section><!-- #content end -->
      
