<div style="padding-top:100px; background-color:#34A0DC;">

</div>
<section style="background-color:#F2F2F2;">
  <div class="center-block" style="width:70%; padding:2%;">
    <img height="300" width="100%;" class="cover" src="images/login-bg.jpg">
    <img width="150" height="150" style="border: 3px solid #FFF; border-radius: 50%; position:absolute; top:350px; left:20%;"
      src="images/profile.jpg">

    <div style="background-color:#FFF; padding:2% 0 2% 25%;">
        <h4>John Smith</h4>
        <p>
                <span style="padding:0 2% 0 0;">99 years old</span> •
                <span style="padding:0 2%;"> India </span> •
                <span style="padding:0 2%;">Male</span>
              </p>
      <p>This is the bio text that users can customize by editing thier profile. As an admin you can set a maximum character limit for the bio. </p>

    </div>
  </div>
</section>
