<div class="cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/blogs/cover-pic.jpg');background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; height:100vh;">

</div>
<div  class="mobile-cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/mobile/blog_cover.jpg');background-size: cover; height:100vh;">
  
  </div>


<!-- Content
		============================================= -->
<section id="content" style="margin-top:5%;">

    <div class="container">

      <!-- Post Content
					============================================= -->
      <div class="postcontent nobottommargin clearfix center-block custom-margin">

        <!-- Posts
						============================================= -->
        <div id="posts" class="post-timeline clearfix">
          <div class="timeline-border"></div>

          <div ng-repeat="post in posts" class="entry clearfix">
            <div class="entry-timeline">
          {{post.date | date:'dd'}}<span>{{post.date | date:'MMM'}}</span>
          
              <div class="timeline-divider"></div>
            </div>

            <div class="entry-image">
              <a ui-sref="blog.detail({postId: post.id})" data-lightbox="image">
                <span class="image_fade"  picture-fill>
                  <span pf-src="{{post.imageUrl | trimExt}}.jpg" data-media="(max-width: 768px)"></span>
                  <span pf-src="{{post.imageUrl | trimExt}}.jpg" data-media="(min-width: 768px)"></span>
                </span>
              
              </a>
            </div>
            <div class="entry-title">
              <h3 style="cursor:pointer;" class="blog-title" ui-sref="blog.detail({postId: post.id})">
                {{post.title}}</h3>
            </div>
            <ul class="entry-meta clearfix" style="margin:1%;">
              <li><a href="#"><i class="icon-user"></i> {{post.author}}</a></li>
              <li><i class="icon-folder-open"></i> <a href="#">General</a></li>
              <li><a><i class="icon-comments"></i> {{post.comments}} Comment(s)</a></li>
            </ul>
            <div class="blog-content clearfix">
              <p>{{post.description}}</p>
              <a href="" ui-sref="blog.detail({postId: post.id})" class="more-link">Read More</a>
            </div>
          </div>

        </div>
        <!-- #posts end -->

        <!-- Pagination
						============================================= -->
        <ul class="pager">
          <li class="previous"><a href="#">&larr; Older</a></li>
          <li class="next"><a href="#">Newer &rarr;</a></li>
        </ul>
        <!-- .pager end -->

      </div>
      <!-- .postcontent end -->


    </div>



</section>
<!-- #content end -->
