<div style="background-color:#000;background-image: url({{postDetail.imageUrl}});background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="slider-caption-center">
      <h2 class="text-center" style="font-size:48px;letter-spacing:0px;font-weight:600;color:#fff;margin-top:200px;" data-caption-animate="fadeInUp">{{postDetail.title}}</h2>
      <!--<a class="custom-button center-block text-center">
         <span>Let's Wander</span> <i style="margin-left:10px;" class="icon-angle-right"></i></a>-->

    </div>
  </div>
</div>

<div class="si-sticky visible-md visible-lg">
  <a href=""  ng-click="onShareButtonClicked(postDetail.id)" class="social-icon si-facebook" data-animate="bounceInLeft">
    <i class="icon-facebook"></i>
    <i class="icon-facebook"></i>
  </a>
  <a socialshare socialshare-provider="twitter" socialshare-text="For rivers, seas and slopes at their most inviting" socialshare-hashtags="wanderwagon"
                    socialshare-description="Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Integer posuere
                erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget
                quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.
                Vestibulum id ligula porta felis euismod semper." socialshare-media="images/home-bg.jpg" socialshare-url="http://wanderwagon.com/" class="social-icon si-twitter" data-animate="bounceInLeft" data-delay="600">
    <i class="icon-twitter"></i>
    <i class="icon-twitter"></i>
  </a>
  <a href="#" class="social-icon si-gplus" data-animate="bounceInLeft" data-delay="600">
    <i class="icon-gplus"></i>
    <i class="icon-gplus"></i>
  </a>


</div>

</div>

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
					============================================= -->
      <div class="postcontent nobottommargin clearfix">

        <div class="single-post nobottommargin">

          <!-- Single Post
						============================================= -->
          <div class=" clearfix">

            <!-- Entry Title
							============================================= -->
            <!--<div class="entry-title">
            <h2>{{postDetail.title}}</h2>
          </div>-->
            <!-- .entry-title end -->

            <!-- Entry Meta
							============================================= -->
            <ul class="entry-meta clearfix">
              <li><i class="icon-calendar3"></i> {{postDetail.createdAt | date:'dd/MM/yy'}}</li>
              <li><a href="#"><i class="icon-user"></i> {{postDetail.author.name}}</a></li>
              <li><i class="icon-folder-open"></i> <a href="#">General</a></li>
              <li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li>
            </ul>
            <!-- .entry-meta end -->

            <!-- Entry Image
							============================================= -->
            <!--<div class="entry-image bottommargin">
            <a href="#"><img ng-src="{{postDetail.imageUrl}}" alt="Blog Single"></a>
          </div>-->
            <!-- .entry-image end -->

            <!-- Entry Content
							============================================= -->
            <div class="custom-para notopmargin">
              <div class="entry-title">
                <h2 style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
                  {{postDetail.title}}</h2>
              </div>

              <p>
                {{postDetail.description}}
              </p>

              <div class="custom-para" ng-repeat="point in postDetail.blogSections">
                <h3 style="line-height:1.2142857142857142;margin-top:5%;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
                {{point.title}}
                </h3>

                <div ng-repeat="para in point.paragraphs">
                  <p>
                  {{para.text}}
                </p>

                <!--<p>{{para.bulletPoints}}</p>-->
                <ul style="margin-left:5%;">
                  <li style="color: #67747c;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: justify;" ng-repeat="bullet in para.bulletPoints">{{bullet.text}}</li>
                </ul>

                </div>
                

                <div>
                  <img ng-src="{{point.imageUrl}}" alt="Blog Single" width="auto" height="auto">
                </div>
              </div>




              <div class="clear"></div>

            </div>
          </div>
          <!-- .entry end -->
          <!-- Post Author Info
						============================================= -->

          <div class="panel panel-default">
            <div style="padding:1%; color: #333333;
    background-color: #dddddd !important;
    border: 0px solid #000;">
              <p style="cursor:pointer;" class="panel-title">Posted by <span><a ng-click="openSocialProfile()">Author</a></span></p>
            </div>
            <div class="panel-body" style="border: 0px solid #000;">
              <div style="cursor:pointer;" class="author-image">
                <img ng-click="openSocialProfile()" ng-src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" alt="" class="img-circle">
              </div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae
              ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium
              laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum
              nam aliquid. Consectetur, perferendis?
            </div>
          </div>
          <!-- Post Single - Author End -->

          <div class="center-block " style=" width:100%; cursor:pointer; ">
            <a href="mailto:contact@wanderwagon.com" style="width:100%; height:70px;  padding:3%; text-align:center;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:2rem; "
              class="button button-3d button-rounded button-blue">
       Share your story with us at contact@wanderwagon.com</a>
          </div>


          <!-- Comments
						============================================= -->
          <div id="comments" class="clearfix">

            <h3 id="comments-title"><span>3</span> Comments</h3>

            <!-- Comments List
							============================================= -->
            <ol class="commentlist clearfix">

              <li class="comment even thread-even depth-1" id="li-comment-1">

                <div id="comment-1" class="comment-wrap clearfix">

                  <div class="comment-meta">

                    <div class="comment-author vcard">

                      <span class="comment-avatar clearfix">
												<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>

                    </div>

                  </div>

                  <div class="comment-content clearfix">

                    <div class="comment-author">John Doe<span><a href="#" title="Permalink to this comment">April 24, 2012 at 10:46 am</a></span></div>

                    <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula
                      ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

                    <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>

                  </div>

                  <div class="clear"></div>

                </div>


                <ul class='children'>

                  <li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">

                    <div id="comment-3" class="comment-wrap clearfix">

                      <div class="comment-meta">

                        <div class="comment-author vcard">

                          <span class="comment-avatar clearfix">
														<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>

                        </div>

                      </div>

                      <div class="comment-content clearfix">

                        <div class="comment-author"><a href='#' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                        <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>

                      </div>

                      <div class="clear"></div>

                    </div>

                  </li>

                </ul>

              </li>

              <li class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1" id="li-comment-2">

                <div id="comment-2" class="comment-wrap clearfix">

                  <div class="comment-meta">

                    <div class="comment-author vcard">

                      <span class="comment-avatar clearfix">
												<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G' class='avatar avatar-60 photo' height='60' width='60' /></span>

                    </div>

                  </div>

                  <div class="comment-content clearfix">

                    <div class="comment-author"><a href='http://themeforest.net/user/semicolonweb' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

                    <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>

                  </div>

                  <div class="clear"></div>

                </div>

              </li>

            </ol>
            <!-- .commentlist end -->

            <div class="clear"></div>

            <!-- Comment Form
							============================================= -->
            <div id="respond" class="clearfix">

              <button style="float:right;" ng-click="showCommentForm = true;" id="" tabindex="5" class="button button-blue">ADD A COMMENT</button>

              <form ng-show="showCommentForm" class="clearfix" action="#" method="post" id="commentform">

                <div class="col_full">
                  <label for="comment">Comment</label>
                  <textarea name="comment" cols="58" rows="7" tabindex="4" class="sm-form-control"></textarea>
                </div>

                <div class="col_full nobottommargin">
                  <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-blue">Submit</button>
                </div>

              </form>

            </div>
            <!-- #respond end -->

          </div>
          <!-- #comments end -->




        </div>
      </div>
      <!-- .postcontent end -->

      <!-- Sidebar
					============================================= -->
      <div class="sidebar nobottommargin col_last clearfix">
        <div class="sidebar-widgets-wrap">

          <!--<div class="widget widget-twitter-feed clearfix">

								<h4>Twitter Feed</h4>
								<ul class="iconlist twitter-feed" data-username="envato" data-count="2">
									<li></li>
								</ul>

								<a href="#" class="btn btn-default btn-sm fright">Follow Us on Twitter</a>

							</div>-->

          <div class="widget clearfix">

            <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

              <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="Similar Posts">
                  <div class="tab-content clearfix">
                    <div id="popular-post-list-sidebar">

                      <div ng-repeat="post in popularPosts" class="spost clearfix">
                        <div class="entry-image">
                          <a href="#" class="nobg"><img class="img-circle" ng-src="{{post.authorImage}}" alt=""></a>
                        </div>
                        <div class="entry-c">
                          <div class="entry-title">
                            <h4><a href="#">{{post.postTitle}}</a></h4>
                          </div>
                          <ul class="entry-meta">
                            <li><i class="icon-comments-alt"></i> {{post.numberOfComments}} Comments</li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>

            </div>

          </div>

          <!--<div class="widget clearfix">

            <h4>Portfolio Carousel</h4>
            <div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false"
              data-autoplay="5000">

              <div class="oc-item">
                <div class="iportfolio">
                  <div class="portfolio-image">
                    <a href="#">
                      <img src="images/portfolio/4/3.jpg" alt="Mac Sunglasses">
                    </a>
                    <div class="portfolio-overlay">
                      <a href="http://vimeo.com/89396394" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                    </div>
                  </div>
                  <div class="portfolio-desc center nobottompadding">
                    <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
                    <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
                  </div>
                </div>
              </div>

              <div class="oc-item">
                <div class="iportfolio">
                  <div class="portfolio-image">
                    <a href="portfolio-single.html">
                      <img src="images/portfolio/4/1.jpg" alt="Open Imagination">
                    </a>
                    <div class="portfolio-overlay">
                      <a href="images/blog/full/1.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                    </div>
                  </div>
                  <div class="portfolio-desc center nobottompadding">
                    <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                    <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                  </div>
                </div>
              </div>

            </div>
          </div>-->

          <!--<div class="widget clearfix">

            <h4>Tag Cloud</h4>
            <div class="tagcloud">
              <a href="#">general</a>
              <a href="#">videos</a>
              <a href="#">music</a>
              <a href="#">media</a>
              <a href="#">photography</a>
              <a href="#">parallax</a>
              <a href="#">ecommerce</a>
              <a href="#">terms</a>
              <a href="#">coupons</a>
              <a href="#">modern</a>
            </div>

          </div>-->

        </div>

      </div>
      <!-- .sidebar end -->


    </div>
  </div>
  <!--
  <div class="container">
    <div class="fancy-title title-center title-dotted-border topmargin">
      <h3>Looking for similar experiences ?</h3>
    </div>

    <div class="entry clearfix">
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
          <a style="    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    z-index: 20;
    left: -2.22222em;" class="btn" href="#carousel-example-generic" data-slide="prev">
            <i style="margin:7px 0 0 0px; font-size:15px; font-weight:600;" class="icon-angle-left"></i>
          </a>
          <a style="background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    z-index: 20;
    right: -2.22222em;" class="btn" href="#carousel-example-generic" data-slide="next">
            <i style="margin:7px 0 0 0; font-size:15px; font-weight:600;" class="icon-angle-right"></i></a>-->

  <!-- Wrapper for slides <-->
  <!--
          <div class="carousel-inner">
            <div class="item active" style="padding:2% 0 2% 2%">
              <div class="row">

                <div class="col-sm-3 nopadding">
                  <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;">
                    <div class="paul-slide-new">
                      <img style="object-fit:cover; width:100%; height:100%;" src="images/home-bg.jpg" class="img-responsive" alt="a" />
                    </div>

                    <span class="paul-slider-caption">
                    {{images[0].text}}</span>

                  </div>
                </div>

                <div class="col-sm-3 nopadding">
                  <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;">
                    <div class="paul-slide-new">
                      <img style="object-fit:cover; width:100%; height:100%;" src="images/destination-bg.jpg" class="img-responsive" alt="a" />
                    </div>

                    <span class="paul-slider-caption">
                    {{images[1].text}}</span>

                  </div>
                </div>

                <div class="col-sm-3 nopadding">
                  <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;">
                    <div class="paul-slide-new">
                      <img style="object-fit:cover; width:100%; height:100%;" src="images/manipur.jpg" class="img-responsive" alt="a" />
                    </div>

                    <span class="paul-slider-caption">
                    {{images[2].text}}</span>

                  </div>
                </div>

                <div class="col-sm-3 nopadding">
                  <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;">
                    <div class="paul-slide-new">
                      <img style="object-fit:cover; width:100%; height:100%;" src="images/destination-detail-bg.jpg" class="img-responsive" alt="a"
                      />
                    </div>

                    <span class="paul-slider-caption">
                    {{images[3].text}}</span>

                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="padding:2% 0% 2% 0%">
              <div class="row">

                <div class="col-sm-3 nopadding">
                  <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;">
                    <div class="paul-slide-new">
                      <img style="object-fit:cover; width:100%; height:100%;" src="images/home-bg.jpg" class="img-responsive" alt="a" />
                    </div>

                    <span class="paul-slider-caption">
                    {{images[4].text}}</span>

                  </div>
                </div>

                <div class="col-sm-3 nopadding">
                  <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;">
                    <div class="paul-slide-new">
                      <img style="object-fit:cover; width:100%; height:100%;" src="images/home-bg.jpg" class="img-responsive" alt="a" />
                    </div>

                    <span class="paul-slider-caption">
                    {{images[5].text}}</span>

                  </div>
                </div>

                <div class="col-sm-3 nopadding">
                  <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;">
                    <div class="paul-slide-new">
                      <img style="object-fit:cover; width:100%; height:100%;" src="images/home-bg.jpg" class="img-responsive" alt="a" />
                    </div>

                    <span class="paul-slider-caption">
                    {{images[5].text}}</span>

                  </div>
                </div>

                <div class="col-sm-3 nopadding">
                  <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;">
                    <div class="paul-slide-new">
                      <img style="object-fit:cover; width:100%; height:100%;" src="images/destination-bg.jpg" class="img-responsive" alt="a" />
                    </div>

                    <span class="paul-slider-caption">
                    {{images[0].text}}</span>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="clear"></div>
</section>
<!-- #content end -->


<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="shareModallabel">{{messageType}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div style="padding:5%;" class="col-full">
						{{message}}
					</div>
					<!--<div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Its button
					</div>-->
				</div>
			</div>
			<!--<div class="modal-body" ng-show="error">
				<div class="row filter-remove text-center">
					<p>Error</p>
				</div>
			</div>-->
	</div>
	</div>
</div>
