<div class="cover-page" style="background-color:#36353B;background-image: url({{postDetail.imageUrl}});background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; height:100vh;">
<div class="container clearfix">
  <div class="center-block slider-caption-center">
    <h2 class="text-center primary-title">{{postDetail.title}}</h2>
    <!-- <p class="text-center primary-title-1">{{detail.title}}</p> -->

  </div>
</div>
</div>

<div class="mobile-cover-page" style="background-color:#36353B;background: url({{postDetail.imageUrl}}) no-repeat center center fixed;background-attachment: fixed;
background-size: cover; height:100vh;">
<div class="container clearfix">
  <div class="center-block slider-caption-center">
    <h2 class="text-center primary-title">{{postDetail.title}}</h2>
    <!-- <p class="text-center primary-title-1">{{detail.title}}</p> -->

  </div>
</div>
</div>

<div class="si-sticky">
  <a href=""  ng-click="onShareButtonClicked(postDetail.id)" class="social-icon si-facebook" data-animate="bounceInLeft">
    <i class="icon-facebook"></i>
    <i class="icon-facebook"></i>
  </a>
  <a socialshare socialshare-provider="twitter" socialshare-text="For rivers, seas and slopes at their most inviting" socialshare-hashtags="wanderwagon"
                    socialshare-description="Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Integer posuere
                erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget
                quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.
                Vestibulum id ligula porta felis euismod semper." socialshare-media="images/home-bg.jpg" socialshare-url="http://wanderwagon.com/" class="social-icon si-twitter" data-animate="bounceInLeft" data-delay="600">
    <i class="icon-twitter"></i>
    <i class="icon-twitter"></i>
  </a>
  <a href="#" class="social-icon si-gplus" data-animate="bounceInLeft" data-delay="600">
    <i class="icon-gplus"></i>
    <i class="icon-gplus"></i>
  </a>


</div>
</div>

<section id="content">     

        <div class="custom-blog-detail single-post nobottommargin center-block">

          <!-- Single Post
						============================================= -->
          <div class=" clearfix"> 

            <div class="topmargin">

              <p class="blog-content" style="text-align:justify;font-size:1.5rem;">
                {{postDetail.description}}
              </p>

              <div ng-repeat="point in postDetail.blogSections">
                <h3 class="common-title">
                {{point.title}}
                </h3>

                <div ng-repeat="para in point.paragraphs">
                  <p class="blog-content" style="text-align:justify; font-size:1.5rem;">
                  {{para.text}}
                </p>

                <!--<p>{{para.bulletPoints}}</p>-->
                <ul style="margin-left:5%;">
                  <li style="color: #67747c;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: justify;" ng-repeat="bullet in para.bulletPoints">{{bullet.text}}</li>
                </ul>

                </div>
                

                <div>
                  <img ng-src="{{point.imageUrl}}" alt="Blog Single" width="100%;">
                </div>
              </div>




              <div class="clear"></div>

            </div>
          </div>
          <!-- .entry end -->
          <!-- Post Author Info
						============================================= -->
          <div class="panel panel-default">
            <div style="padding:1%; color: #333333;
    background-color: #dddddd !important;
    border: 0px solid #000; margin-top:5%;">
              <p style="cursor:pointer; margin-top:0; margin-bottom:0;" class="common-title">Posted by <span><a style="color:#14C1E0;" ng-click="openSocialProfile()">Author</a></span></p>
            </div>
            <div class="panel-body" style="border: 0px solid #000;">
              <div style="cursor:pointer;" class="author-image">
                <img ng-click="openSocialProfile()" ng-src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" alt="" class="img-circle">
              </div>
             <p style="text-align:justify;" class="common-font"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae
              ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium
              laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum
              nam aliquid. Consectetur, perferendis?
             </p>
            </div>
          </div>
          <!-- Post Single - Author End -->

          <div class="center-block " style="background-color: #1265A8;padding:2%; text-align:center; cursor:pointer; ">
            <a style="margin-bottom: 0px;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
    padding:2%;
    color: #fff;" href="mailto:contact@wanderwagon.com"  target="_blank">
       Share your story with us at contact@wanderwagon.com</a>
          </div>



          <!-- Comments
						============================================= -->
          <div id="comments" class="clearfix">
            
            <h3 id="comments-title"><span>{{comments.length}}</span> Comments</h3>

            <!-- Comments List
							============================================= -->
            <ol ng-if="comments.length > 0" class="commentlist clearfix">

              <li ng-repeat="item in comments" class="comment even thread-even depth-1" id="li-comment-1">

                <div id="comment-1" class="comment-wrap clearfix">

                  <div class="comment-meta">

                    <div class="comment-author vcard">

                      <span class="comment-avatar clearfix">
												<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>

                    </div>

                  </div>

                  <div class="comment-content clearfix">

                    <div class="comment-author">John Doe<span><a title="Permalink to this comment">{{item.commentTime | date : 'dd-MM-yyyy'}}</a></span></div>

                    <p>{{item.comment}}</p>

            

                  </div>

                  <div class="clear"></div>

                </div>

              </li>

            

            </ol>
            <!-- .commentlist end -->

            <div class="clear"></div>

            <!-- Comment Form
							============================================= -->
            <div id="respond" class="clearfix">

              <button style="float:right;" ng-click="showCommentForm()" id="" tabindex="5" class="button button-blue">ADD A COMMENT</button>

              <form ng-if="showForm" class="clearfix"  id="commentform">

                <div class="col_full">
                  <label for="comment">Comment</label>
                  <textarea name="comment" ng-model="commentObj.comment" cols="58" rows="7" tabindex="4" class="sm-form-control"></textarea>
                </div>

                <div class="col_full nobottommargin">
                  <button name="submit" ng-click="postComment(postDetail.id)" id="submit-button" tabindex="5" value="Submit" class="button button-blue">Submit</button>
                </div>

              </form>

            </div>
            <!-- #respond end -->

          </div>
          <!-- #comments end -->




        </div>
</section>
<!-- #content end -->

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="shareModallabel">{{messageType}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div style="padding:5%;" class="col-full">
						{{message}}
					</div>
					<!--<div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Its button
					</div>-->
				</div>
			</div>
			<!--<div class="modal-body" ng-show="error">
				<div class="row filter-remove text-center">
					<p>Error</p>
				</div>
			</div>-->
	</div>
	</div>
</div>

