<section style="background:#36353B;" id="page-title">



</section>

<!-- #page-title end -->
<div style="margin-top:50px;" class="container">
  <h3 class="content-title">Cancellation/ Modification Policy</h3>
  <h2 style="font-size:16px;">Wanderwagon believes in helping its customers as far as possible, and has therefore a liberal cancellation policy. Under this policy:</h2>
  <ul class="normal_ul">
    <li>Cancellation must be requested via mail and a viable reason for cancellation is requested to be cited. Mail at booking@wanderwagon.com.</li>

    <li>In certain circumstances, the planned trip can be transferred to a third party but a written request must be made to booking@wanderwagon.com and the decision will solely depend on the Wanderwagon . </li>

    <li>Additionally, in case of no-show no amount will be refunded under any circumstances including natural forces, accidents, illness etc.
    </li>

    <li>If a member of party cancels his trip for example- say if two members of a group of 10 decide to cancel their trip then that must be notified within 7 days before departure to booking@wanderwagon.com and only then an amount of total deposit will be refunded. That amount will be decided solely by the Wanderwagon team because planning a trip depends on several interdependent factors.</li>

    <li> In case if you feel the facilities or product provided during the tour was not satisfactory or misleading, please bring it to our attention by writing to booking@wanderwagon.com or call us at +91 9999553113. Appropriate measures will be taken after looking into the complaint. Additionally, if you are not satisfied with your overall experience with us, then do write us at booking@wanderwagon.com; our sole aim is to provide a good travel experience to our customers and our team will take appropriate measures to cover your loss.
    </li>

    <li>No cancellations are entertained for those products that the Wanderwagon marketing team has obtained on special tours like Group Tour, etc. These are limited occasion offers and therefore cancellations are not possible.</li>
    
    <li>Wanderwagon or its affiliate partners will not be liable for any Visa rejections and Hotel cancellation policies would still stand as they are.</li>

    <li>Refunds can only be given in cases of inclusions mentioned in package confirmed by customer are not delivered by booking agent. Refunds will not be given in any other case.</li>

    <li>If due to unforeseen circumstances, the traveler has to pay for the inclusions already mentioned in the package, refund claims for the inclusions part of the package may be considered and refunded upon submission of proper receipts, provided this was pre-informed to Wanderwagon advisor or travel agent.</li>

    <li>Wanderwagon guarantees delivery of services booked through www.wanderwagon.com. In case part package is booked by traveler themselves or outside of Wanderwagon, no claim against such services shall be entertained.</li>

    <li>In case local attractions are closed for maintenance/weather conditions/government orders/strike/curfew/natural calamity/other unforeseen reasons, Wanderwagon/travel agent will try its best to reimburse the traveler appropriate amount against the same in case refund is possible. However, Wanderwagon/travel agent are not obligated for the same and cannot be held liable against it.</li>

  </ul>
  <br/><br/>
  <h1 style="font-size:22px;">Refund Policy</h1>
  <h2 style="font-size:16px;">Under this policy:</h2>
  <ul class="normal_ul">
    <li>If you are, for any reason, not entirely happy with your purchase, we will cheerfully issue applicable refund provided such refund is sought pursuant to cancellation and the request for same is made within 72 hours of your purchase and shall be further subject to the travel agent having not processed your order. To request a refund, simply contact us with your purchase details within three (3) days of your purchase.</li>
    
    <li>Please include your order number (sent to you via email after ordering) and optionally tell us why you’re requesting a refund - we take customer feedback very seriously and use it to constantly improve our products and quality of service. Refunds are being processed within 21 days period however, we shall not be liable for any default caused in processing the refund amount owing to the delay caused by processing bank.</li>

    <li>Any amendments/additions to package (dates, inclusions, itinerary etc), will be done at extra cost to the customer. Changes made to the package will be made as per cancellation policy of the original package and customer has to bear the cost incurred due to this.</li>

    <li>Wanderwagon doesn't encourage changes and modifications to online bookings once they're made. However, facilitation of changes related to postponement or rescheduling of the already booked package is the sole discretion of Travel agent under permitted circumstances. Wanderwagon shall not be held liable for any impact due to change in original itinerary  by the traveler and this is subject to mutual agreement and discussion between traveler and travel agent.</li>

    <li>In case of force majeure cases (such as curfew, riots etc), Wanderwagon shall not be liable for any losses made thereof.</li>

    <li>Circumstances amounting to “force majeure” include any event which we or the supplier of the service(s) in question could not even with all due care, foresee or forestall such as (by way of example and not by way of limitation) war, threat of war, riot, civil strife, industrial dispute, terrorist activity, natural or nuclear disaster, fire, acts of God, adverse weather conditions, and all similar events.</li>
  </ul>
</div>
</div>
