<section style="background:#444;" id="page-title">
</section>

<div class="container">

  <h1 style="padding:20px;" class="text-center">CONTACT US</h1>


  <div style="margin-bottom:50px;" class="clearfix">
    <div class="pull-left" style="width:60%; padding-right:10px;">
      <h4 style="text-transform:uppercase;">Talk to us we would love to help you plan your trip</h4>

      <div style="padding:30px 0 0 0; text-transform:capitalize" class="col-sm-12">
        <button style="margin:0px !important; width:50%; height:50px;"ui-sref="form" class="button buttonPrimary">Fill out 2 minute Questionnaire</button>
        <div>(We Recommend This)</div>
      </div>

      <div style="padding:30px 0 0 0; text-transform:capitalize" class="col-sm-12">
        <button style="margin:0px !important; width:50%; height:50px;" id="{{inquireSubmit}}" class="button buttonPrimary">Or fill a quick inquiry form</button>
        <div>(If you're in a hurry')</div>
      </div>



    </div>

    <div class="pull-right" style="width:40%;">

      <ng-map scrollwheel="false" center="[28.5246, 77.2066]" zoom="12">
        <marker position="28.5246, 77.2066" title="WanderWagon"></marker>
      </ng-map>
    </div>
  </div>


  <!-- Contact Info
					============================================= -->
					<div class="row clear-bottommargin">

						<div class="col-md-3 col-sm-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a><i class="icon-map-marker2"></i></a>
								</div>
								<h3>Our Headquarters<span class="subtitle">Saket, Delhi</span></h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a><i class="icon-phone3"></i></a>
								</div>
								<h3>Speak to Us<span class="subtitle">(+91)11 6543 4303</span></h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a style="cursor:pointer;" ng-click="openFacebook()"><i class="icon-facebook"></i></a>
								</div>
								<h3>Like us<span class="subtitle">WanderWagon</span></h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a><i class="icon-email"></i></a>
								</div>
								<h3>Email us<span class="subtitle">contact@wanderwagon.com</span></h3>
							</div>
						</div>

					</div><!-- Contact Info End -->




<h3 style="padding-top:20px;">MEET US!</h3>
<h5>If Delhi is on your itinerary, feel free to drop in! <br/>
We would love to take you out for a stroll in the capital!
</h5>

<h3 style="padding-top:20px;">OUR ADDRESS</h3>
<h5>D-169, II Floor, Freedom Fighters Enclave, Ignou Road <br/>
Saket, New Delhi - 110068
</h5>





</div>
