<div class="wrap">
  <img src="images/slider2.jpg" alt="Blog Single" width="1366" height="600">
  <div style="width:300px;" class="text_over_image">
    Title of the Article
  </div>
</div>
<section id="content">
  <div class="container clearfix">
    <div style="margin-top: 20px;" class="tabs nobottommargin clearfix">

      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="About The Place">
          <div class="tab-content clearfix">

            <div class="pull-left" style="width:60%; padding-right:10px;">
              <h5 class="text-center">Welcome to Dharamshala</h5>
              <div class="custom-divider"><i class="icon-info"></i></div>


              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. <a href="#">Curabitur blandit tempus porttitor</a>.
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis
                in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida
                at eget metus. Vestibulum id ligula porta felis euismod semper.</p>


              <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet
                fermentum. Donec id elit non mi porta gravida at eget metus.</p>

              <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. <a href="#">Nullam quis risus eget urna</a>                mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            </div>

            <div class="pull-right" style="width:40%;">

              <h5 class="text-center">Location</h5>
              <div class="custom-divider"><i class="icon-location"></i></div>
              <ng-map scrollwheel="false" center="[32.2190, 76.3234]" zoom="12">
                <marker position="32.2190, 76.3234" title="Dharamshala"></marker>
              </ng-map>
            </div>

            <div style="padding-top:50px;">

              <div class="pull-left" style="width:60%; padding-right:10px;">
                <h5 class="text-center">How To Reach</h5>
                <div class="custom-divider"><i class="icon-plane"></i></div>

                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. <a href="#">Curabitur blandit tempus porttitor</a>.
                  Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis
                  in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida
                  at eget metus. Vestibulum id ligula porta felis euismod semper.</p>


                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet
                  fermentum. Donec id elit non mi porta gravida at eget metus.</p>

                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Mollis ornare vel eu leo. Integer posuere
                  erat a ante venenatis dapibus posuere velit aliquet.</p>

              </div>


              <div class="pull-right" style="width:40%;">
                <h5 class="text-center">Overview</h5>
                <div class="custom-divider"><i class="icon-circle"></i></div>

              </div>


            </div>

          </div>
        </uib-tab>
        <uib-tab index="1" heading="Places To Visit">
          <div class="tab-content clearfix">

          </div>
        </uib-tab>
        <uib-tab index="2" heading="Activities">
          <div class="tab-content clearfix">

          </div>
        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</section>
