<!-- Page Title
		============================================= -->
<!--<div class="wrap">
  <img src="images/slider2.jpg" alt="Blog Single" width="1366" height="600">
  <div style="width:300px;" class="text_over_image">
    Title of the Article
  </div>
</div>-->
<section id="content">
  <div class="clearfix">
    <ui-carousel slides="slides" dots="false">
      <carousel-item>
        <img ng-src="{{item.imageUrl}}" alt="{{ item.text }}" />
<!--        
        <div style="width:300px;" class="text_over_image">
          <a href="#" class="button button-border button-white button-light button-large button-rounded tright nomargin"><span>{{item.text}}</span> <i class="icon-angle-right"></i></a>
        </div>-->
      </carousel-item>

      <carousel-prev>
        <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
      </carousel-prev>

      <carousel-next>
        <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
      </carousel-next>
    </ui-carousel>
    <Paste>
  </div>
</section>


<!-- Content
		============================================= -->
<section id="content">

  <div class=" clearfix">

    <div class="fancy-title title-center title-dotted-border topmargin">
      <h3>Destinations</h3>
    </div>

    <div style="padding-left:30px;" id="posts" class="events small-thumbs">

      <div class=".col-md-4" ng-repeat="destination in destinations">
        <div class="entry-image" style="padding-bottom:10px;">
          <a href="#" ui-sref="destination.detail({id: destination.id})">
            <img ng-src="{{destination.imageUrl}}" alt="Inventore voluptates velit totam ipsa tenetur">
            <h3 class="text-center">{{destination.name}}</h3>
          </a>
        </div>
      </div>

    </div>

    <!-- Pagination
					============================================= -->
    <!--<ul class="pager nomargin">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
      </ul>-->
    <!-- .pager end -->

  </div>



</section>
<!-- #content end -->
