<div style="background-color:#000;background-image: url('images/destination-detail-bg.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="center-block slider-caption-center">
      <h2 class="text-center" style="font-size:68px;letter-spacing:0px;font-weight:600;color:#fff; margin-top:23%;" data-caption-animate="fadeInUp">{{detail.name}}</h2>
      <p style="font-size:3rem; font-style:italic; color:#fff;" class="text-center">{{detail.title}}</p>

    </div>
  </div>
</div>
            

<!-- Header
		============================================= -->
<header style="height:50px;" sticky id="header" class="full-header">
  <div class="container clearfix">
    <!-- Primary Navigation
					============================================= -->
    <nav style="margin-left:30%; margin-right:20%;" id="primary-menu" class="style-2">
      <ul class="one-page-menu">
        <li>
          <a href="#about" du-smooth-scroll="" du-scrollspy="" duration="800" style="cursor:pointer;color:#444;padding:10px 15px;">
            <div>About</div>
          </a>
        </li>
        <li>
          <a href="#howToReach" du-smooth-scroll="" du-scrollspy="" duration="800" style="cursor:pointer;color:#444;padding:10px 15px;">
            <div>How to reach</div>
          </a>
        </li>
        <li>
          <a href="#places" du-smooth-scroll="" du-scrollspy="" duration="800" style="cursor:pointer;color:#444;padding:10px 15px;">
            <div>Places to visit</div>
          </a>
        </li>
        <li>
          <a href="#activities" du-smooth-scroll="" du-scrollspy="" duration="800" style="cursor:pointer;color:#444;padding:10px 15px;">
            <div>Activities</div>
          </a>
        </li>
      </ul>
    </nav>
    <!-- #primary-menu end -->
  </div>
</header>
<!-- #header end -->

<section id="about">
  <div class=" container clearfix" style="height:100vh;">
    <div>
      <h2 style="text-align:center;margin:6rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
        About
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
    </div>


    <div class="center-block custom-para">
      <p>{{detail.about}}</p>
      <br>


    </div>

    <div class="center-block" style="width:40%; border:1px solid #F5F5F5; border-radius:2%;">
      <h2 style="text-align:center;margin:2rem 0 2rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:1.8rem;">
        Overview
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
      <div style="margin: 30px;">
        <h5 class="pull-left"><i style="padding-right:10px;" class="icon-calendar i-alt"></i>Best Time To Visit</h5>
        <p style="margin-right: 40px;" class="pull-right">{{detail.overview.bestTimeToVisit}}</p>
      </div>
      <span class="clearfix"></span>
      <div style="margin: 0 30px 30px 30px;">
        <h5 class="pull-left"><i style="padding-right:10px;" class="icon-calendar i-alt"></i>Days Required</h5>
        <p style="margin-right: 40px;" class="pull-right">{{detail.overview.daysRequired}}</p>
      </div>

      <span class="clearfix"></span>
      <div style="margin: 0 30px 30px 30px;">
        <h5 class="pull-left"><i style="padding-right:10px;" class="icon-folder i-alt"></i>Category</h5>
        <p style="margin-right: 40px;" class="pull-right">{{detail.overview.category}}</p>
      </div>

    </div>

  </div>
</section>

<section id="howToReach">
  <div class="container clearfix" style="height:100vh;">
    <div style="margin-top:1px; ">
      <h2 style="text-align:center;margin:8rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
        How to reach
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
    </div>


    <div class="center-block" >
      <div class="feature-box" >
        <div class="custom-fbox-icon">
          <i class="icon-plane i-alt"></i>
        </div>
        <span style="font:bold; font-size:20px;">Airport</span>
        <p>{{detail.howToReach.railways}}
        </p>
      </div>

      <div class="feature-box" >
        <div class="custom-fbox-icon">
          <i class="icon-train i-alt"></i>
        </div>
        <span style="font:bold; font-size:20px;">Railways</span>
        <p>{{detail.howToReach.railways}}
        </p>
      </div>

      <div class="feature-box" >
        <div class="custom-fbox-icon">
          <i class="icon-road i-alt"></i>
        </div>
        <span style="font:bold; font-size:20px;">Roadways</span>
        <p>{{detail.howToReach.railways}}
        </p>
      </div>
    </div>
  </div>
</section>


<section id="places">
  <div class=" container clearfix" style="height:80vh;">
    <div>
      <h2 style="text-align:center;margin:6rem 0 10rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
        Places to visit
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
    </div>

    <div class="row">
      <div id="carousel-example-generic1" class="carousel slide hidden-xs" data-ride="carousel">
        <a style="    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    z-index: 5;
    left: -2.22222em;" class="btn" href="#carousel-example-generic1" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    z-index: 5;
    right: -2.22222em;" class="btn" href="#carousel-example-generic1" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; font-weight:600;" class="icon-angle-right"></i></a>

        <!-- Wrapper for slides <-->

        <div class="carousel-inner">
          <div class="item active" style="padding:2% 0 2% 2%">
            <div class="row">

              <div class="col-sm-3 padding:0 1% 0 1%">

                <div ng-click="header1.isOpen = !header1.isOpen ; getTravelInspirationDetail(placesData[0].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[0].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[0].text}}</span>

                </div>

              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="header1.isOpen = !header1.isOpen ; getTravelInspirationDetail(placesData[1].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[1].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[1].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="header1.isOpen = !header1.isOpen ; getTravelInspirationDetail(slideplacesDatar[2].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[2].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[2].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="header1.isOpen = !header1.isOpen ; getTravelInspirationDetail(placesData[3].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[3].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[3].text}}</span>

                </div>
              </div>
            </div>
          </div>
          <div class="item" style="padding:2% 2% 2% 0%">
            <div class="row">

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="header1.isOpen = !header1.isOpen ; getTravelInspirationDetail(placesData[4].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[4].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[4].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="header1.isOpen = !header1.isOpen ; getTravelInspirationDetail(placesData[5].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[5].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[5].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="header1.isOpen = !header1.isOpen ; getTravelInspirationDetail(placesData[6].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[6].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[6].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="header1.isOpen = !header1.isOpen ; getTravelInspirationDetail(placesData[7].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[7].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[7].text}}</span>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="accordion1" class="clearfix" style="margin-top:8%;">

    <uib-accordion>
      <uib-accordion-group is-open="header1.isOpen">

        <div>
          <carousel interval="myInterval">
            <slide ng-repeat="detail in placeDetails" >

              <div class="center-block" style="width:80%;">
                <div>
                  <h2 style="text-align:center;margin:2rem 0 2rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;"><br /> {{detail.name}}
                    <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
                    </div>
                  </h2>
                </div>

                <div class="pull-left" style="width:30%;">
                  <a href="images/blog3.jpg"><img height="350px" width="100%" ng-src="{{detail.imageUrl}}" alt="Standard Post with Image"></a>
                </div>

                <div class="pull-right" style="width:70%; padding-left:10px; text-align:left;">

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    What is it.....</h4>

                  <p>{{detail.description}}
                  </p>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    Overview</h4>

                  <p>{{detail.overview}}
                  </p>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    How to reach</h4>
                  <p>{{detail.howToReach}}
                  </p>

                  <div>
                    <h4 class="pull-left" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Timings - <span>{{detail.timings}}</span></h4>

                    <h4 class="pull-right" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Pricing - <span>{{detail.price}}</span></h4>
                    <br /><br /><br /><br />
                  </div>

                  <!--<center>
                    <span style="font-size:48px; padding-right:2%; " class="icon-line2-arrow-left"></span>
                    <span style="font-size:48px; padding-left:2%; " class="icon-line2-arrow-right"></span>
                  </center>-->

                </div>
              </div>



            </slide>
          </carousel>
        </div>

      </uib-accordion-group>
    </uib-accordion>

  </div>

</section>




<section id="activities">
  <div class=" container clearfix" style="height:80vh;">
    <div>
      <h2 style="text-align:center;margin:6rem 0 10rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
        Activities
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
    </div>

    <div class="row">
      <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
        <a style="    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    z-index: 5;
    left: -2.22222em;" class="btn" href="#carousel-example-generic" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    z-index: 5;
    right: -2.22222em;" class="btn" href="#carousel-example-generic" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; font-weight:600;" class="icon-angle-right"></i></a>

        <!-- Wrapper for slides <-->

        <div class="carousel-inner">
          <div class="item active" style="padding:2% 0 2% 2%">
            <div class="row">

              <div class="col-sm-3 padding:0 1% 0 1%">

                <div ng-click="accordion2.isOpen = !accordion2.isOpen ; getTravelInspirationDetail(activitiesData[0].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{activitiesData[0].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{activitiesData[0].text}}</span>

                </div>

              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="accordion2.isOpen = !accordion2.isOpen ; getTravelInspirationDetail(activitiesData[1].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{activitiesData[1].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{activitiesData[1].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="accordion2.isOpen = !accordion2.isOpen ; getTravelInspirationDetail(activitiesData[2].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{activitiesData[2].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{activitiesData[2].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="accordion2.isOpen = !accordion2.isOpen ; getTravelInspirationDetail(activitiesData[3].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{activitiesData[3].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{activitiesData[3].text}}</span>

                </div>
              </div>
            </div>
          </div>
          <div class="item" style="padding:2% 2% 2% 0%">
            <div class="row">

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="accordion2.isOpen = !accordion2.isOpen ; getTravelInspirationDetail(activitiesData[4].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{activitiesData[4].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{activitiesData[4].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="accordion2.isOpen = !accordion2.isOpen ; getTravelInspirationDetail(activitiesData[5].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{activitiesData[5].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{activitiesData[5].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="accordion2.isOpen = !accordion2.isOpen ; getTravelInspirationDetail(activitiesData[6].id)" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style=" object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[6].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[6].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1% ">
                <div ng-click="accordion2.isOpen=! accordion2.isOpen ; getTravelInspirationDetail(activitiesData[7].id)
                    " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[7].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[7].text}}</span>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="accordion2" class="clearfix" style="margin-top:8%;">

    <uib-accordion>
      <uib-accordion-group is-open="accordion2.isOpen ">
       <div>
          <carousel interval="myInterval">
            
            <slide ng-repeat="detail in placeDetails" >

              <div class="center-block" style="width:80%;">
                <div>
                  <h2 style="text-align:center;margin:2rem 0 2rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;"><br /> {{detail.name}}
                    <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
                    </div>
                  </h2>
                </div>

                <div class="pull-left" style="width:30%;">
                  <a href="images/blog3.jpg"><img height="350px" width="100%" ng-src="{{detail.imageUrl}}" alt="Standard Post with Image"></a>
                </div>

                <div class="pull-right" style="width:70%; padding-left:10px; text-align:left;">

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    What is it.....</h4>

                  <p>{{detail.description}}
                  </p>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    Overview</h4>

                  <p>{{detail.overview}}
                  </p>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    How to reach</h4>
                  <p>{{detail.howToReach}}
                  </p>

                  <div>
                    <h4 class="pull-left" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Timings - <span>{{detail.timings}}</span></h4>

                    <h4 class="pull-right" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Pricing - <span>{{detail.price}}</span></h4>
                    <br /><br /><br /><br />
                  </div>

                </div>
              </div>



            </slide>
          </carousel>
        </div
      </uib-accordion-group>
    </uib-accordion>

  </div>

</section>






<section>
  <div class="topmargin ">
    <h2 style="text-align:center;margin:8rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem; ">
      Why we love Destination ?
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px; ">
      </div>
    </h2>
  </div>
  <p style="color: #67747c; font-family: Benton Sans,Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 1.8rem; font-style:
                    italic; line-height: 1.8; margin: 0 auto 5.5rem; text-align: center; width:70%; ">
    " Known for its old temple, a fresh water spring, water falls and slate quarries. Bhagsunag can be approached by road.
                    The Bhagsu fall is one of the main attractions of Mcleodganj. You can take a dip in the chilly water of
                    fall.... "<a style="cursor:pointer; margin-left:5px; "
      class="read-more ">READ MORE <span style="font-size:10px; " class="icon-chevron-right "></span></a>
  </p>

  <div ui-sref="travel-plan " class="center-block " style=" width:70%; cursor:pointer; ">
    <a style="width:100%; padding:1%; text-align:center;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:2.8rem; " class="button button-3d button-rounded button-blue"> Loved it ? We got plans for you !</a>
  </div>
  				


  <div class="container " style="padding-bottom:2%; ">
    <div class="center-block " style=" width:70%; ">
      <h2 style=" text-align:center;margin:8rem 0 2rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem; ">
        After Dharamshala, Where Next ?
      </h2>
    </div>

   <div class="row ">
      <div id="carousel-example-generic " class="carousel slide hidden-xs " data-ride="carousel ">
        <a style=" background-color: rgb(255, 255, 255); border: 0px; border-radius: 50%; cursor: pointer; display: block;
                    font-size: 9px; line-height: 1; transition: color 400ms, box-shadow 400ms; height: 4.44444em; width: 4.44444em;
                    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em; position: absolute; bottom: 0px; margin-bottom:
                    auto; margin-top: auto; top: 0px; z-index: 5; left: -2.22222em; " class="btn " href="#carousel-example-generic
                    " data-slide="prev ">
          <i style="margin:7px 0 0 0px; font-size:15px; font-weight:600; " class="icon-angle-left "></i>
        </a>
        <a style="background-color: rgb(255, 255, 255); border: 0px; border-radius: 50%; cursor: pointer; display: block;
                    font-size: 9px; line-height: 1; transition: color 400ms, box-shadow 400ms; height: 4.44444em; width: 4.44444em;
                    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em; position: absolute; bottom: 0px; margin-bottom:
                    auto; margin-top: auto; top: 0; z-index: 5; right: -2.22222em; " class="btn " href="#carousel-example-generic
                    " data-slide="next ">
          <i style="margin:7px 0 0 0; font-size:15px; font-weight:600; " class="icon-angle-right "></i></a>

        <!-- Wrapper for slides <-->

        <div class="carousel-inner ">
          <div class="item active " style="padding:2% 0 2% 2% ">
            <div class="row ">

              <div class="col-sm-3 padding:0 1% 0 1% ">

                <div ui-sref="travel-plan " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[0].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[0].text}}</span>

                </div>

              </div>

              <div class="col-sm-3 padding:0 1% 0 1% ">
                <div ui-sref="travel-plan " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[1].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[1].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1% ">
                <div ui-sref="travel-plan " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[2].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[2].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1% ">
                <div ui-sref="travel-plan " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[3].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[3].text}}</span>

                </div>
              </div>
            </div>
          </div>
          <div class="item " style="padding:2% 2% 2% 0% ">
            <div class="row ">

              <div class="col-sm-3 padding:0 1% 0 1% ">
                <div ui-sref="travel-plan " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[4].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[4].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1% ">
                <div ui-sref="travel-plan " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[5].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[5].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1% ">
                <div ui-sref="travel-plan " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[6].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[6].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1% ">
                <div ui-sref="travel-plan " style="cursor:pointer; ">
                  <div class="paul-slide-new ">
                    <img style="object-fit:cover; width:100%; height:100%; " ng-src="{{activitiesData[7].imageUrl}}
                    " class="img-responsive " alt="a "
                    />
                  </div>

                  <span class="paul-slider-caption ">
                    {{activitiesData[7].text}}</span>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
