<section id="content" style="background-color:#000;background-size: cover;background-image: url('images/login-bg.jpg');">

  <div ng-show="verified" class="style-msg2 center-block" style="width:60%; margin-top:20%; margin-bottom:20%; background-color: #EEE;">
    <div class="msgtitle">{{success}}</div>
    <div class="sb-msg">
      {{successMessage}}
    </div>
  </div>


  <div ng-show="!verified" class="style-msg2 center-block" style="width:60%; margin-top:20%; margin-bottom:20%; background-color: #EEE;">
    <div class="msgtitle">{{error}}</div>
    <div class="sb-msg">
      {{errorMessage}}
    </div>

    <a style="cursor:pointer;"  ng-click="sendVerificationLink()" class="button button-3d button-small button-rounded button-blue">Resend Verification Link</a>

  </div>


  </div>
</section>

<div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="verificationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="verificationModallabel">{{messageType}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            {{message}}
          </div>
          <!--<div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Its button
					</div>-->
        </div>
      </div>
      <!--<div class="modal-body" ng-show="error">
				<div class="row filter-remove text-center">
					<p>Error</p>
				</div>
			</div>-->
    </div>
  </div>
</div>


