<div class="cover-page" style="background-color:#36353B;background-image: url({{eventDetail.eventImage}});background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; height:100vh;">
  <div style="background-color:#36353B; height:100px;"class="clearfix">
  </div>
</div>

<div class="mobile-cover-page" style="background-color:#36353B;background: url({{mobileImageUrl}}) no-repeat center center fixed;background-attachment: fixed;
background-size: cover; height:100vh;">
<div style="background-color:#36353B; height:100px;"class="clearfix">
</div>
</div>

<section id="about">
  <div class=" container clearfix">
    <div>
      <h2 class="paul-title" style="margin-top:5%;">
        {{eventDetail.description}}
      </h2>
      <div class="underline" style="margin-bottom:2rem;">
      </div>
    </div>


    <div class="center-block custom-para-event">
      <p>Aren't we all rebels, fighting against the "usual". 
        Trying to change the roles that people have given us in the stories they make up in their heads. Love is no different, being caged and trapped within the bars of a single definition.
        We have already made these bars weak enough for us to escape, by choosing whom or what to love, in a way we fancy.</p>

        <p>
          This Valentine's, let's break through and define love in not just one or two but million and trillion ways. 
Let's start with a journey to celebrate love , togetherness and freedom.
Allow WanderWagon to give you the travel experiences, that would forever be cherished in your memories.
        </p>

        <p>
          So, Why not Pack your bags and head out for a celebratory journey ?
        </p>

        <p>
          Remember - This year it's just you and your Valentine against the world.
        </p>
    </div>
  </div>
</section>

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
        
      <div style="float: none; display: block; margin-right: auto; margin-left: auto;" class="col_half nobottommargin">
          <h2 style="margin-bottom:5%;">We would need a little help from you.</h2>
        <form id="conditional-form" name="tripForm" class="nobottommargin" ng-submit="submitEventForm(tripForm)">
     
          <div class="col_full">
            <label for="form-condition-1">Destination</label>
            <input placeholder="Destination" pattern="^[a-zA-Z ]*$"   type="text" class="form-control required" id="form-condition-1" name="form-condition-1"
              ng-model="formObj.destination" required>
            <!-- <a href="#" class="button button-border button-rounded"><i class="icon-gift"></i>Button</a> -->
          </div>


          <div class="col_full">
            <label for="template-contactform-name">Name </label>
            <input placeholder="Name" pattern="[a-zA-Z][a-zA-Z ]+" required ng-model="formObj.name" type="text" id="template-contactform-name" name="template-contactform-name" value=""
              class="form-control required show-error-msg" />
          </div>

          <div class="col_full">
            <label for="template-contactform-email">Email </label>
            <input placeholder="Email" required ng-model="formObj.email" type="email" id="template-contactform-email" name="template-contactform-email"
              value="" class="required email form-control" />
          </div>

          <div class="col_full col_last">
            <label for="template-contactform-phone">Phone</label>
            <input placeholder="Phone"  pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" required ng-model="formObj.phone" type="text" id="template-contactform-phone" name="template-contactform-phone"
              value="" class="form-control" />
          </div>

        

          <div ng-style="display10" class="col_full" id="form-condition-submit" >
            <button  class="button nomargin" type="submit">Plan My Trip</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="eventModallabel">Query Form</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="padding:0 5%;" class="col-full">
            <form name="queryForm" class="nobottommargin" ng-submit="onFormSubmit(queryForm)">
              <div class="col_full">
                <label for="queryName">
                  <font color="white">Name</font>
                </label>
                <input type="text" class="form-control" id="queryName" name="queryName" placeholder="Name" ng-model="queryObj.name" required
                />
              </div>
              <div class="col_full">
                <label for="queryPhone">
                  <font color="white">Phone no.</font>
                </label>
                <input type="tel" class="form-control" id="queryPhone" name="queryPhone" placeholder="Phone" ng-model="queryObj.phone" required
                />
              </div>
              <div class="col_full nobottommargin">
                <button type="submit" class="button button-blue">
                  <font color="white">Submit</font>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="tripModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="tripModallabel">{{messageType}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="padding:5%;" class="col-full">
            {{message}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="plantripModal" tabindex="-1" role="dialog" aria-labelledby="plantripModal">
  <div class="modal-dialog" role="document">
    <button style="color:#FFF; font-size:40px;" type="button" class="close " data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content plantripModal">

      <div class="modal-body">

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="eventSuccessModal" tabindex="-1" role="dialog" aria-labelledby="eventSuccessModal">
  <div class="modal-dialog" role="document">
    <button style="color:#FFF; font-size:40px;" type="button" class="close " data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content eventSuccessModal">

      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
