<section style="background:#444;" id="page-title">



</section>
<section id="page-title">

  <div class="container clearfix">
    <h1>FAQs</h1>
    <span>All your Questions answered in one place</span>
  </div>

</section>
<!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
					============================================= -->
      <div class="postcontent nobottommargin clearfix">

        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Payment">
            <div class="tab-content clearfix">

              <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="payment1.isOpen = !payment1.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
              <!--  <i class="toggle-closed icon-question-sign"></i>-->What are different modes of payment for booking a trip through Wanderwagon?</div>


              <uib-accordion>
                <uib-accordion-group is-open="payment1.isOpen">
                  <div class="togglec">Wanderwagon allows you to pay through varoius payment options, they are - NEFT TRANSFER, Cash.
                     We will provide a confirmation mail along with an e-receipt.</div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="payment2.isOpen = !payment2.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
                <!--<i class="toggle-open icon-question-sign"></i>-->Does Wanderwagon provide any discounts?</div>


              <uib-accordion>
                <uib-accordion-group is-open="payment2.isOpen">
                  <div class="togglec">Yes! Wanderwagon does provide discounts and offers from time to time.
                     Subscribe your email account to avail these offers.
                     We also provide wandercoins for availing our services which can also be redeemed.</div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                 <div ng-click="payment3.isOpen = !payment3.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
                   <!--<i class="toggle-open icon-question-sign"></i>-->Can the price change during booking?
                 </div>

                <uib-accordion>
                  <uib-accordion-group is-open="payment3.isOpen">
                    <div class="togglec">
                      Since planning a trip depends on a lot of interdependent factors therefore issues
                       like sudden increase in fuel cost, taxes and hotel rents can lead to change in price.
                    </div>
                  </uib-accordion-group>
                  </uib-accordion>
               </div>

            </div>
          </uib-tab>
          <uib-tab index="1" heading="Booking & Cancellation">
            <div class="tab-content clearfix">

              <div class="tab-content clearfix">

              <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="booking1.isOpen = !booking1.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
                <!--<i class="toggle-open icon-question-sign"></i>-->How do I book a trip through Wanderwagon?</div>


              <uib-accordion>
                <uib-accordion-group is-open="booking1.isOpen">
                  <div class="togglec">Online- You will need to create an account on the Wanderwagon website and then you can select
                     a trip listed in the event or book a pre planned group trip. You can also form your own group trip.
                      Offline- You can call us or message us on our facebook page and tell us about the services you require.
                       You can also send us an email and plan your trip.</div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="booking2.isOpen = !booking2.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
                <!--<i class="toggle-open icon-question-sign"></i>-->I have posted a trip request on the Wanderwagon website, what should I do now?</div>


              <uib-accordion>
                <uib-accordion-group is-open="booking2.isOpen">
                  <div class="togglec">Worry not. We will send an instant email-confirming that we have your request.
                    Our travel expert will contact you within 24 hours for further details.
                  </div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="booking3.isOpen = !booking3.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
                <!--<i class="toggle-open icon-question-sign"></i>-->How do I cancel my booking?</div>


              <uib-accordion>
                <uib-accordion-group is-open="booking3.isOpen">
                  <div class="togglec">Log on to our website, go to the booking section, select upcoming trips and request for cancellation.
                     You can also cancel your booking by mailing at booking@wanderwagon.com or call us at +919999553113.
                  </div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="booking4.isOpen = !booking4.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
                <!--<i class="toggle-open icon-question-sign"></i>-->How long does it take for a refund to be processed?</div>


              <uib-accordion>
                <uib-accordion-group is-open="booking4.isOpen">
                  <div class="togglec">Once a refund is accepted at Wanderwagon it normally takes 5-7 business days to process excluding any delay in banking.
                  </div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="booking5.isOpen = !booking5.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
                <!--<i class="toggle-open icon-question-sign"></i>-->What is your cancellation policy?</div>


              <uib-accordion>
                <uib-accordion-group is-open="booking5.isOpen">
                  <div class="togglec">Please refer to our separate cancellation policy section for all the details.
                  </div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="booking6.isOpen = !booking6.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
                <!--<i class="toggle-open icon-question-sign"></i>-->What is your refund policy?</div>


              <uib-accordion>
                <uib-accordion-group is-open="booking6.isOpen">
                  <div class="togglec">Please refer to our separate cancellation policy section for all the details.
                  </div>
                </uib-accordion-group>
              </uib-accordion>

               </div>



            </div>

            </div>
          </uib-tab>
          <uib-tab index="2" heading="Account & Login">
            <div class="tab-content clearfix">
              <div class="toggle faq faq-marketplace faq-authors">
               <div ng-click="booking1.isOpen = !booking1.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
               <!--<i class="toggle-open icon-question-sign"></i>-->Why do I need to create an account?</div>


             <uib-accordion>
               <uib-accordion-group is-open="booking1.isOpen">
                 <div class="togglec">To avail subscription from our website. To get updates about the offers and new services.
                    To avail services from Wanderwagon. To get wandercoins and redeem them.
                 </div>
               </uib-accordion-group>
             </uib-accordion>

              </div>

              <div class="toggle faq faq-marketplace faq-authors">
               <div ng-click="booking2.isOpen = !booking2.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
               <!--<i class="toggle-open icon-question-sign"></i>-->How do we create an account?</div>


             <uib-accordion>
               <uib-accordion-group is-open="booking2.isOpen">
                 <div class="togglec">For creating an account, you can directly click on this link here or refer to our website.
                    You can also register through facebook or your e-mail account.
                 </div>
               </uib-accordion-group>
             </uib-accordion>

              </div>

              <div class="toggle faq faq-marketplace faq-authors">
               <div ng-click="booking3.isOpen = !booking3.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
               <!--<i class="toggle-open icon-question-sign"></i>-->Is there any fee to register on your site?</div>


             <uib-accordion>
               <uib-accordion-group is-open="booking3.isOpen">
                 <div class="togglec">No, creating an account is absolutely free.
                 </div>
               </uib-accordion-group>
             </uib-accordion>

              </div>

              <div class="toggle faq faq-marketplace faq-authors">
               <div ng-click="booking4.isOpen = !booking4.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
               <!--<i class="toggle-open icon-question-sign"></i>-->What should I do if I forget my password?</div>


             <uib-accordion>
               <uib-accordion-group is-open="booking4.isOpen">
                 <div class="togglec">A link will be sent to your e-mail account, clicking on which you can proceed to add a new password.
                 </div>
               </uib-accordion-group>
             </uib-accordion>

              </div>
            </div>
          </uib-tab>
          <uib-tab index="3" heading="Support & Feedback">
            <div class="tab-content clearfix">
              <div class="toggle faq faq-marketplace faq-authors">
               <div ng-click="booking1.isOpen = !booking1.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
               <!--<i class="toggle-open icon-question-sign"></i>-->How can I remain in touch with Wanderwagon?</div>


             <uib-accordion>
               <uib-accordion-group is-open="booking1.isOpen">
                 <div class="togglec">You can subscribe your email to receive latest news, or you can drop us a mail at
                    contact@wanderwagon.com or you can call us at +9999553113.
                 </div>
               </uib-accordion-group>
             </uib-accordion>

              </div>

              <div class="toggle faq faq-marketplace faq-authors">
               <div ng-click="booking2.isOpen = !booking2.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
               <!--<i class="toggle-open icon-question-sign"></i>-->How can I rate/write a feedback to Wanderwagon?</div>


             <uib-accordion>
               <uib-accordion-group is-open="booking2.isOpen">
                 <div class="togglec">The Wanderwagon team sends a feedback form once the trip is over. Or you can write us at contact@wanderwagon.com
                 </div>
               </uib-accordion-group>
             </uib-accordion>

              </div>

              <div class="toggle faq faq-marketplace faq-authors">
               <div ng-click="booking3.isOpen = !booking3.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
               <!--<i class="toggle-open icon-question-sign"></i>-->What information can I get through your website without creating an account?</div>


             <uib-accordion>
               <uib-accordion-group is-open="booking3.isOpen">
                 <div class="togglec">You can get all the information about the places where we are providing travel services,
                   people’s blogs and their travel experiences, our packages and deals.
                 </div>
               </uib-accordion-group>
             </uib-accordion>

              </div>
            </div>
          </uib-tab>
        </uib-tabset>


      </div>
      <!-- .postcontent end -->
    </div>
  </div>
</section>
