<section style="background:#444;" id="page-title">



</section>
<section id="page-title">

  <div class="container clearfix">
    <h1>FAQs</h1>
    <span>All your Questions answered in one place</span>
  </div>

</section>
<!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
					============================================= -->
      <div class="postcontent nobottommargin clearfix">

        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Payment">
            <div class="tab-content clearfix">

              <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="payment1.isOpen = !payment1.isOpen" class="togglet"><i class="toggle-closed icon-question-sign"></i>
                <i class="toggle-open icon-question-sign"></i>How do I become
                  an author?</div>
                

              <uib-accordion>
                <uib-accordion-group is-open="payment1.isOpen">
                  <div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
                  odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores
                  ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe,
                  aperiam, nam unde quas beatae vero vitae nulla.</div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="payment2.isOpen = !payment2.isOpen" class="togglet"><i class="toggle-closed icon-question-sign"></i>
                <i class="toggle-open icon-question-sign"></i>How do I become
                  an author?</div>
                

              <uib-accordion>
                <uib-accordion-group is-open="payment2.isOpen">
                  <div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
                  odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores
                  ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe,
                  aperiam, nam unde quas beatae vero vitae nulla.</div>
                </uib-accordion-group>
              </uib-accordion>

               </div>


            </div>
          </uib-tab>
          <uib-tab index="1" heading="Booking & Cancellation">
            <div class="tab-content clearfix">

              <div class="tab-content clearfix">

              <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="booking1.isOpen = !booking1.isOpen" class="togglet"><i class="toggle-closed icon-question-sign"></i>
                <i class="toggle-open icon-question-sign"></i>How do I become
                  an author?</div>
                

              <uib-accordion>
                <uib-accordion-group is-open="booking1.isOpen">
                  <div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
                  odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores
                  ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe,
                  aperiam, nam unde quas beatae vero vitae nulla.</div>
                </uib-accordion-group>
              </uib-accordion>

               </div>

               <div class="toggle faq faq-marketplace faq-authors">
                <div ng-click="booking2.isOpen = !booking2.isOpen" class="togglet"><i class="toggle-closed icon-question-sign"></i>
                <i class="toggle-open icon-question-sign"></i>How do I become
                  an author?</div>
                

              <uib-accordion>
                <uib-accordion-group is-open="booking2.isOpen">
                  <div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
                  odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores
                  ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe,
                  aperiam, nam unde quas beatae vero vitae nulla.</div>
                </uib-accordion-group>
              </uib-accordion>

               </div>


            </div>

            </div>
          </uib-tab>
          <uib-tab index="2" heading="Account & Login">
            <div class="tab-content clearfix">

            </div>
          </uib-tab>
          <uib-tab index="3" heading="Support & Feedback">
            <div class="tab-content clearfix">

            </div>
          </uib-tab>
        </uib-tabset>


      </div>
      <!-- .postcontent end -->
    </div>
  </div>
</section>
