<div id="flipbook">
  <div ng-repeat="item in data">
    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{item.imageUrl}}">
  </div>
</div>


<a class="btn flipbook-prev-button" href="#" id="prev">
        <i style="margin:7px 0 0 0px; font-size:15px; color:white; font-weight:600;" class="icon-angle-left"></i>
      </a>
<a class="btn flipbook-next-button" href="#" id="next">
        <i style="margin:7px 0 0 0; font-size:15px; color:white; font-weight:600;" class="icon-angle-right"></i></a>
