<div id="flipbook" style="margin-left:5%;">
  <div style="background-image: url('images/arunachal.jpg'); background-size: cover;">PAGE1</div>
  <div style="background-image: url('images/assam.jpg'); background-size: cover;">PAGE2</div>
  <div style="background-image: url('images/manipur.jpg'); background-size: cover;">PAGE3</div>
  <div style="background-image: url('images/sikkim.jpg'); background-size: cover;">PAGE4</div>
  <div style="background-image: url('images/darjeeling.jpg'); background-size: cover;">PAGE5</div>
  <div style="background-image: url('images/himachal.jpg'); background-size: cover;">PAGE6</div>
  <div style="background-image: url('images/kashmir.jpg'); background-size: cover;">PAGE7</div>
  <div style="background-image: url('images/meghalaya.jpg'); background-size: cover;">PAGE8</div>
</div>

<div class="flip-control">
   <a style="background-color: #12edd0;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 30%;
    z-index: 5;
    left: 1em;" class="btn" href="#" id="prev">
            <i style="margin:7px 0 0 0px; font-size:15px; color:white; font-weight:600;" class="icon-angle-left"></i>
          </a>
          <a style="background-color: #12edd0;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 30%;
    z-index: 5;
    right: 1em;" class="btn" href="#" id="next">
            <i style="margin:7px 0 0 0; font-size:15px; color:white; font-weight:600;" class="icon-angle-right"></i></a>
</div>