<div  id="flipbook">
  <div class="odd" style="background-image: url('images/manali/1.png'); background-size: cover;"></div>
  <div class="even" style="background-image: url('images/manali/2.png'); background-size: cover;"></div>
  <div class="odd" style="background-image: url('images/manali/3.png'); background-size: cover;"></div>
  <div class="even" style="background-image: url('images/manali/4.png'); background-size: cover;"></div>
  <div class="odd" style="background-image: url('images/manali/5.png'); background-size: cover;"></div>
  <div class="even" style="background-image: url('images/manali/6.png'); background-size: cover;"></div>
  <div class="odd" style="background-image: url('images/manali/7.png'); background-size: cover;"></div>
  <div class="even" style="background-image: url('images/manali/8.png'); background-size: cover;"></div>
</div>
