<div class="cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/events/holi/holi_cover.jpg');background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; height:100vh;">
  <div style="background-color:#36353B; height:100px;" class="clearfix">
  </div>
</div>

<div class="mobile-cover-page" style="background-color:#36353B;background: url({{mobileImageUrl}}) no-repeat center center fixed;background-attachment: fixed;
background-size: cover; height:100vh;">
  <div style="background-color:#36353B; height:100px;" class="clearfix">
  </div>
</div>

<section id="about">
  <div class=" container clearfix">
    <div>
      <h2 class="paul-title" style="margin-top:5%;">
        Chasing colours - Mathura ki Holi
      </h2>
      <div class="underline" style="margin-bottom:2rem;">
      </div>
    </div>


    <div class="custom-para-event">
      <p>How do you see yourself playing Holi this year? Same old or Some bold? It is for you to decide.
        Kyuki Mathura ki Holi nahi kheli, to kya kia? Let us help you check one more item off your bucket list as you soak into the vibrancy of this festival.</p>

      <p>
        Travel back in time to witness the authentic Holi of Mathura.  Follow the steps of Lord Krishna and let the inner kid take over.  Let go of the inhibitions and let others watch you bring your A-Game. This Holi there's no stopping you; Cause what happens in Mathura stays in Mathura!
      </p>

      <p>
        Celebrations start a week in advance and here is when and where you should be while celebrating Holi in Mathura.
      </p>
    
    </div>
  </div>
</section>

<section class="clearfix custom-padding" id="places">

    <h2 style="margin-top:5%;" class="paul-title">
      Travel Plans
    </h2>
    <div class="underline" style="margin-bottom:5rem;">
      </div>
  
    <ng-owl-carousel class="owl-theme" owl-items="travelPlans" owl-properties="sliderProperties" owl-ready="ready($api)">
      <div ng-click="openOrCloseAccordion(item.id)" class="paul-slide" style="padding:2% 0 2% 0%" data-ng-repeat="item in travelPlans">
        <img style="object-fit:cover; width:100%; height:100%;" class="owl-lazy" data-src="{{item.imageUrl}}">
      </div>    
    </ng-owl-carousel>
  
    <div id="accordion1" class="clearfix" >
      <uib-accordion>
        <uib-accordion-group is-open="openAccordion">
            <div class="center-block custom-container">
   
                <flip-book ng-if="itineraries.length > 0" data="itineraries"></flip-book>
            
              </div>

        </uib-accordion-group>
      </uib-accordion>
    </div>
  </section>

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div style="float: none; display: block; margin-right: auto; margin-left: auto;" class="col_half nobottommargin">
        <h2 style="margin-bottom:5%;">We would need a little help from you.</h2>
        <form id="conditional-form" name="tripForm" class="nobottommargin" ng-submit="submitEventForm(tripForm)">

          <div class="col_full">
            <label for="form-condition-1">Destination</label>
            <input placeholder="Where would you like to go?" pattern="^[a-zA-Z ]*$" type="text" class="form-control required" id="form-condition-1" name="form-condition-1"
              ng-model="formObj.destination" required>
            <!-- <a href="#" class="button button-border button-rounded"><i class="icon-gift"></i>Button</a> -->
          </div>


          <div class="col_full">
            <label for="template-contactform-name">Name </label>
            <input placeholder="Enter your name" pattern="[a-zA-Z][a-zA-Z ]+" required ng-model="formObj.name" type="text" id="template-contactform-name"
              name="template-contactform-name" value="" class="form-control required show-error-msg" />
          </div>

          <div class="col_full">
            <label for="template-contactform-email">Email </label>
            <input placeholder="Enter your email id" required ng-model="formObj.email" type="email" id="template-contactform-email" name="template-contactform-email"
              value="" class="required email form-control" />
          </div>

          <div class="col_full col_last">
            <label for="template-contactform-phone">Phone</label>
            <input placeholder="Enter your mobile no." pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" required ng-model="formObj.phone" type="text" id="template-contactform-phone"
              name="template-contactform-phone" value="" class="form-control" />
          </div>



          <div ng-style="display10" class="col_full" id="form-condition-submit">
            <button class="button nomargin" type="submit">Plan My Trip</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="eventModallabel">Query Form</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="padding:0 5%;" class="col-full">
            <form name="queryForm" class="nobottommargin" ng-submit="onFormSubmit(queryForm)">
              <div class="col_full">
                <label for="queryName">
                  <font color="white">Name</font>
                </label>
                <input type="text" class="form-control" id="queryName" name="queryName" placeholder="Name" ng-model="queryObj.name" required
                />
              </div>
              <div class="col_full">
                <label for="queryPhone">
                  <font color="white">Phone no.</font>
                </label>
                <input type="tel" class="form-control" id="queryPhone" name="queryPhone" placeholder="Phone" ng-model="queryObj.phone" required
                />
              </div>
              <div class="col_full nobottommargin">
                <button type="submit" class="button button-blue">
                  <font color="white">Submit</font>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="tripModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="tripModallabel">{{messageType}}<img style="margin-left:20px;" height="20" width="20" src="images/cheers.png"></h4>
        
      </div>
      <div class="modal-body">
        <div class="row" style="text-align:center;">
          <div style="padding:5%;" class="col-full">
            {{message}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="plantripModal" tabindex="-1" role="dialog" aria-labelledby="plantripModal">
  <div class="modal-dialog" role="document">
    <button style="color:#FFF; font-size:40px;" type="button" class="close " data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content plantripModal">

      <div class="modal-body">

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="eventSuccessModal" tabindex="-1" role="dialog" aria-labelledby="eventSuccessModal">
  <div class="modal-dialog" role="document">
    <button style="color:#FFF; font-size:40px;" type="button" class="close " data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content eventSuccessModal">

      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
