<div style="background-color:#000;background-image: url('images/home-bg.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="slider-caption-center">
      <h2 class="text-center" style="margin-bottom:0px;font-size:32px;letter-spacing:1px;font-weight:600;color:#fff;margin-top:300px;">
        WANDERWAGON MAKES YOUR GROUP TRIP</h2>
      <h2 class="text-center" style="margin-bottom:0px;font-size:32px;letter-spacing:1px;font-weight:600;color:#fff;">
        {{changingText}}</h2>
      <p style="font-size:2.5rem; margin-bottom:50px; color:#fff;" class="text-center">
        "Wanderwagon is the perfect partner to plan that much awaited trip with your buddies"
      </p>
      <a ng-click="gotoTravelInspiration()" class="custom-button center-block text-center">
        <span>Let's Wander</span> <i style="margin-left:10px;" class="icon-angle-right"></i></a>


    </div>
  </div>
</div>





<!--<section  style="background-image: url('images/slider1.jpg'); 
background-size:cover; background-repeat:no-repeat; background-position: center center; height:680px;" class="swiper_wrapper full-screen clearfix">
 
</section>-->
<!--<section class="wrap">
  <img src="images/slider2.jpg" alt="Blog Single" width="1366" height="600">
  <p style="line-height: 62px;
    border-width: 0px;
    font-weight:700;
    letter-spacing: -1px;
    font-size: 41px;
    font-family: 'Raleway', sans-serif;" class="text_over_image_1">WANDERWAGON MAKES YOUR TRIP MEMORABLE</p>
  <div style="width:300px;" class="text_over_image">
     

<!--    
  </div>
</section>-->

<section id="content" class="container">

  <div class="topmargin" style="height:100vh;">
    <h2 style="text-align:center;margin-bottom:4rem;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
      Travel Inspiration
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
      </div>
    </h2>


    <div class="row">
      <div class="row">

        <div class="col-md-3">
          <!-- Controls -->
          <div class="controls hidden-xs">
            <a class="icon-angle-left btn" href="#carousel-example-generic" data-slide="prev"></a>
            <a class="icon-angle-right btn" href="#carousel-example-generic" data-slide="next"></a>
          </div>
        </div>
      </div>

      <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">

              <div class="col-sm-3 nopadding" >
                <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;" >
                  <div style="width:22vw; height:30vw;" class="photo">
                    <img style="object-fit:cover; width:100%; height:100%;" src="images/home-bg.jpg" class="img-responsive" alt="a" />
                  </div>
                  <div class="info">
                    <h5 style="font-size:1.6rem" class="text-center">
                      {{images[0].text}}</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 nopadding" >
                <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;" >
                  <div style="width:22vw; height:30vw;" class="photo">
                    <img style="object-fit:cover; width:100%; height:100%;" src="images/home-bg.jpg" class="img-responsive" alt="a" />
                  </div>
                  <div class="info">
                    <h5 style="font-size:1.6rem" class="text-center">
                      {{images[0].text}}</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 nopadding" >
                <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;" >
                  <div style="width:22vw; height:30vw;" class="photo">
                    <img style="object-fit:cover; width:100%; height:100%;" src="images/home-bg.jpg" class="img-responsive" alt="a" />
                  </div>
                  <div class="info">
                    <h5 style="font-size:1.6rem" class="text-center">
                      {{images[0].text}}</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 nopadding" >
                <div ng-click="heading1.isOpen = !heading1.isOpen" style="cursor:pointer;" >
                  <div style="width:22vw; height:30vw;" class="photo">
                    <img style="object-fit:cover; width:100%; height:100%;" src="images/home-bg.jpg" class="img-responsive" alt="a" />
                  </div>
                  <div class="info">
                    <h5 style="font-size:1.6rem" class="text-center">
                      {{images[0].text}}</h5>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="item">
            <div class="row">
          
            </div>
          </div>
        </div>
      </div>

      <uib-accordion>
        <uib-accordion-group is-open="heading1.isOpen">
          <div style="padding-left:50px;" id="posts" class="events small-thumbs">

            <div class=".col-md-4" ng-repeat="destination in destinations">
              <div class="entry-image" style="padding-bottom:10px;">
                <a href="#" ui-sref="destination.detail({id: destination.id})">
                  <img ng-src="{{destination.imageUrl}}" alt="Inventore voluptates velit totam ipsa tenetur">
                  <h3 class="text-center">{{destination.name}}</h3>
                </a>
              </div>
            </div>

          </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>

  </div>







  </div>




  <div class="topmargin">
    <h2 style="text-align:center;margin-bottom:4rem;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
      The Blog
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
      </div>
    </h2>
  </div>

  <div class="clearfix">
    <div class="pull-right" style="width:50%;">
      <a href="images/blog1.jpg"><img height="300px" width="100%" src="images/blog1.jpg" alt="Standard Post with Image"></a>
    </div>

    <div class="pull-left" style="width:50%; padding-right:10px;">
      <div class="entry-title">
        <h3 style="cursor:pointer;" ui-sref="blog.list" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
          For rivers, seas and slopes at their most inviting</h3>
      </div>

      <div class="entry-content" style="margin-top:40px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt,
          blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia
          eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
        </p>
        <a style="cursor:pointer;" ui-sref="blog.list" class="more-link">Read More</a>
      </div>
    </div>
  </div>


  <div style="margin:0 0 30px 0;" class="clearfix">
    <div class="pull-left" style="width:50%;">
      <a href="images/blog3.jpg"><img height="300px" width="100%" src="images/blog3.jpg" alt="Standard Post with Image"></a>
    </div>

    <div class="pull-right" style="width:50%; padding-left:10px;">
      <div class="entry-title">
        <h3 style="cursor:pointer;" ui-sref="blog.list" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
          This is a standard post with preview image</h3>
      </div>

      <div class="entry-content" style="margin-top:40px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt,
          blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia
          eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
        </p>
        <a style="cursor:pointer;" ui-sref="blog.list" class="more-link">Read More</a>
      </div>
    </div>
  </div>

</section>

<section>
  <div style="background-color:#000;background-image: url('https://resources.luxuryretreats.com/www/images/vr5/home_inquire.jpg');background-size: cover;position:relative; width:100%;  height:100vh;">

    <!--<div class="text_over_image">
        {{postDetail.title}}
      </div>-->
    <div style="width:40%; height:100vh; float:left; position:absolute; left:0px; top:0px; z-index:1; background-color: rgba(0,0,0,.66); padding:5px; color: #FFF; font-weight:bold;">
      <div style="padding:45px;">
        <div>
          <div>
            <h3 style="margin: 0;font-size: 25px;font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    color:#FFF;">Not Sure Where to Begin?</h3>
            <p style="color:#FFF; font-size:15px;">Complete this form &amp; we'll get right back to you!</p>
          </div>
        </div>
        <form id="">
          <div style="padding:0px;" class="col-sm-6">
            <label style="color:#FFF; text-transform:capitalize">First Name<span class="asterisk">*</span></label>
            <input class="form-control" id="{{inquireFirstName}}" type="text" placeholder="*Required" value="{{firstName}}" data-parsley-trim-value="true"
              required data-prefill="firstName" />
          </div>

          <div class="col-sm-6">
            <label style="color:#FFF; text-transform:capitalize">Last Name</label>
            <input class="form-control" id="{{inquireLastName}}" type="text" value="{{lastName}}" data-parsley-trim-value="true" data-prefill="lastName"
            />
          </div>

          <div style="padding:10px 0 0 0;" class="col-sm-6">
            <label style="color:#FFF; text-transform:capitalize">Email<span class="asterisk">*</span></label>
            <input class="form-control" id="{{inquireEmail}}" type="email" value="{{email}}" placeholder="*Required" data-parsley-trim-value="true"
              required data-prefill="email" />
          </div>


          <div style="padding-top:10px;" class="col-sm-6">
            <label style="color:#FFF; text-transform:capitalize">Phone Number<span class="asterisk">*</span></label>
            <div class="inquireTelContainer">
              <input class="form-control" id="{{inquireTel}}" placeholder="*Required" value="{{tel}}" type="tel" data-parsley-intphone="{{inquireTel}}"
                data-parsley-cnic required data-prefill="phone" />
              <input id="{{inquireCountry}}" type="hidden" data-prefill="country" />
            </div>
          </div>

          <div style="padding:10px 0 0 0;" class="col-sm-6">
            <label style="color:#FFF; text-transform:capitalize" for="form-condition-10">I would like to go to...</label>
            <select ng-click="display5={display:'block'}" id="form-condition-10" name="form-condition-10" class="required sm-form-control">
									<option value="">-- Select One --</option>
									<option value="5K"> Rishikesh</option>
									<option value="5K to 10K">Manali</option>
									<option value="10K to 15K">Dharamshala</option>
									<option value="15K to 20K">Ladakh</option>
									<option value="more than 20K">Shimla</option>
								</select>
          </div>




          <div style="padding-top:10px;" class="col-sm-6">
            <label style="color:#FFF; text-transform:capitalize" for="form-condition-10">In the month of...</label>
            <select ng-click="display5={display:'block'}" id="form-condition-10" name="form-condition-10" class="required sm-form-control">
									<option value="">Travel Dates TBC</option>
									<option value="5K">January</option>
									<option value="5K to 10K">February</option>
									<option value="10K to 15K">March</option>
									<option value="15K to 20K">April</option>
									<option value="more than 20K">May</option>
                  <option value="5K">June</option>
									<option value="5K to 10K">July</option>
									<option value="10K to 15K">August</option>
									<option value="15K to 20K">September</option>
									<option value="more than 20K">October</option>
                  <option value="10K to 15K">November</option>
									<option value="15K to 20K">December</option>
								</select>
          </div>


          <div style="width:97%;">
            <label style="padding-top: 10px; color:#FFF; text-transform:capitalize">What's the occasion?<span class="asterisk">*</span></label>
            <textarea style="max-width:425px; max-height:500px;" class="form-control" placeholder="Tell us a little bit about what you're looking for."></textarea>
          </div>

          <div style="padding:20px 0 0 0; text-transform:capitalize" class="col-sm-12">
            <button style="margin:0px !important; width:97%; height:70px;" id="{{inquireSubmit}}" class="button buttonPrimary">Submit Inquiry</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</section>

<section>
  <div class="topmargin">
    <h2 class="instaText" style="text-align:center;margin-bottom:4rem;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
      On Instagram @ wanderwagon
    </h2>
  </div>

  <div style="margin-bottom:30px;" class="row">
    <div ng-repeat="image in instaImages" class="col-sm-2">
      <img class="control-center" style="padding-bottom: 5px;" width="300" height="250" ng-src="{{image.image}}" alt="Standard Post with Image">
    </div>
  </div>
</section>
