<div style="background-color:#34A0DC;background-image: url('images/home.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="slider-caption-center">
      <h2 class="text-center primary-title">
        WITH WANDERWAGON YOU ARE FREE </h2>
      <h2 class="text-center primary-title-1">
        {{changingText}}</h2>
      <!--<p style="font-size:2.5rem; margin-bottom:50px; color:#fff;" class="text-center">
        "Wanderwagon is the perfect partner to plan that much awaited trip with your buddies"
      </p>-->
      <a href="#travel" du-smooth-scroll="" du-scrollspy="" duration="800" class="custom-button center-block text-center">
        <span>Let's Wander</span> <i style="margin-left:10px;" class="icon-angle-right"></i></a>
    </div>
  </div>
</div>


<section id="travel" style="margin-top:3%;" class="custom-padding">
  <h2 class="paul-title">
    Travel Inspiration

  </h2>

  <p style="font-size:2rem;" class="text-center">
    Your choices, Your friends, Your travel plans
    <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;">
    </div>
  </p>

  <ng-owl-carousel class="owl-theme" owl-items="sliderData" owl-properties="properties" owl-ready="ready($api)">

    <div ng-click="openOrCloseAccordion()" class="paul-slide" style="padding:2% 0 2% 0%" data-ng-repeat="item in slider">
      <img style="object-fit:cover; width:100%; height:100%;" class="owl-lazy" data-src="{{item.imageUrl}}">
      <span class="paul-slider-caption">
        {{item.title}}</span>
    </div>

  </ng-owl-carousel>



  <div id="accordion" class="clearfix topmargin">
    <uib-accordion>
      <uib-accordion-group is-open="openAccordion">
        <div ng-click="closeAccordion()" style="cursor:pointer; font-size:3rem;" class="glyphicon glyphicon-remove-circle"></div>
        <ng-owl-carousel class="owl-theme" owl-items="inspirationData" owl-properties="nestedCarouselproperties" owl-ready="ready($api)">
          
              <div ui-sref="travel-plan.detail({id: inspiration.id})" class="paul-slide-new" style="padding:2% 0 2% 0" data-ng-repeat="item in inspirationData">
                <img style="object-fit:cover; width:100%; height:100%;" class="owl-lazy" data-src="{{item.imageUrl}}">
                <span class="paul-slider-caption">
                  {{item.name}}</span>
              </div>
          
            </ng-owl-carousel>


      </uib-accordion-group>
    </uib-accordion>
  </div>
</section>



<section id="articles" class="custom-padding">

  <div class="topmargin">
    <h2 ui-sref="blog.list" style="cursor:pointer;" class="paul-title">
      The Blog
    </h2>

    <p style="font-size:2rem;" class="text-center">
      Live the wanderlust through words
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;">
      </div>
    </p>
  </div>

  <div style="overflow:hidden; margin-bottom:-5%;">

    <div ui-sref="blog.list" class="image blog-image-left">

      <img ng-src="{{blog[0].imageUrl}}" alt="{{blog[0].title}}">
    </div>


    <div class="text-center blog-content-left">
      <h3 style="cursor:pointer;" ui-sref="blog.list" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
        {{blog[0].title}}</h3>


      <div class="entry-content">
        <p>{{blog[0].description}}...
        </p>
        <div class="feature-info">
          <span class="icon-calendar3"> {{blog[0].time | date:'dd-MM-yy'}} • {{blog[0].user.name}}</span>
        </div>
      </div>

    </div>
  </div>


  <div style="overflow:hidden;">

    <div ui-sref="blog.list" class="image blog-image-right">
      <img ng-src="{{blog[1].imageUrl}}" alt="{{blog[1].title}}">

    </div>


    <div class="text blog-content-right">
      <h3 style="cursor:pointer;" ui-sref="blog.list" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
        {{blog[1].title}}</h3>


      <div class="entry-content">
        <p>{{blog[1].description}}...
        </p>
        <div class="feature-info">
          <span class="icon-calendar3"> {{blog[1].time | date:'dd-MM-yy'}} • {{blog[1].user.name}}</span>
        </div>
      </div>

    </div>
  </div>

</section>

<section>
  <div class="home-form-bg">

    <!--<div class="text_over_image">
        {{postDetail.title}}
      </div>-->
    <div class="home-form">
      <div style="padding:18% 5% 17% 5%">
        <div>

          <div>
            <h3 style="margin: 0;font-size: 25px;font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    color:#FFF;">Not Sure Where to Begin?</h3>
            <p style="color:#FFF; font-size:15px;">Complete this form &amp; we'll get right back to you!</p>
          </div>
        </div>
        <form name="inquiryForm" class="nobottommargin" ng-submit="onFormSubmit(inquiryForm)">
          <div class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize">First Name<span class="asterisk">*</span></label>
            <input ng-model="inquiryObj.firstName" class="form-control" id="{{inquireFirstName}}" type="text" placeholder="*Required"
              value="{{firstName}}" data-parsley-trim-value="true" required data-prefill="firstName" />
          </div>

          <div class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize">Last Name</label>
            <input ng-model="inquiryObj.lastName" class="form-control" id="{{inquireLastName}}" type="text" value="{{lastName}}" data-parsley-trim-value="true"
              data-prefill="lastName" />
          </div>

          <div class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize">Email<span class="asterisk">*</span></label>
            <input ng-model="inquiryObj.email" class="form-control" id="{{inquireEmail}}" type="email" value="{{email}}" placeholder="*Required"
              data-parsley-trim-value="true" required data-prefill="email" />
          </div>


          <div class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize">Phone Number<span class="asterisk">*</span></label>
            <div class="inquireTelContainer">
              <input ng-model="inquiryObj.phone" class="form-control" id="{{inquireTel}}" placeholder="*Required" value="{{tel}}" type="tel"
                data-parsley-intphone="{{inquireTel}}" data-parsley-cnic required data-prefill="phone" />
              <input id="{{inquireCountry}}" type="hidden" data-prefill="country" />
            </div>
          </div>

          <div class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize" for="form-condition-10">I would like to go to...</label>
            <select ng-model="inquiryObj.destination" ng-click="display5={display:'block'}" id="form-condition-10" name="form-condition-10"
              class="required form-control">
									<option value=""> Select One </option>
									<option value="Rishikesh">Rishikesh</option>
									<option value="Manali">Manali</option>
									<option value="Dharamshala">Dharamshala</option>
									<option value="Ladakh">Ladakh</option>
									<option value="Shimla">Shimla</option>
								</select>
          </div>



          <div class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize" for="form-condition-10">In the month of...</label>
            <select ng-model="inquiryObj.travelMonth" ng-click="display5={display:'block'}" id="form-condition-10" name="form-condition-10"
              class="required form-control">
									<option value="">Travel Dates TBC</option>
									<option value="January">January</option>
									<option value="February">February</option>
									<option value="March">March</option>
									<option value="April">April</option>
									<option value="May">May</option>
                  <option value="June">June</option>
									<option value="July">July</option>
									<option value="August">August</option>
									<option value="September">September</option>
									<option value="October">October</option>
                  <option value="November">November</option>
									<option value="December">December</option>
								</select>
          </div>


          <div style="width:100%;" class="col-sm-12 toppadding">
            <label style="color:#FFF; text-transform:capitalize">What's the occasion?<span class="asterisk">*</span></label>
            <textarea ng-model="inquiryObj.occasion" style="max-width:100%; max-height:10%;" class="form-control" placeholder="Tell us a little bit about what you're looking for."></textarea>
          </div>

          <div style="text-transform:capitalize; padding-top:20px;" class="col-sm-12">
            <button type="submit" style="margin:0px !important; width:100%; height:70px;" id="{{inquireSubmit}}" class="button button-blue ">Submit Inquiry</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</section>



<section>
  <div class="topmargin">
    <h2 class="instaText">
      On Instagram @ wanderwagon
    </h2>
  </div>

  <!--<div class="marque">
   <ul class="slideContainer" id="money_start">
      <li ng-repeat="photo in instaPhotos" class="slideItem">
        <img style="cursor:pointer;" ng-click="openInstaProfile()" style="margin:1%;" ng-src="{{photo.imageUrl}}" width="200" height="150" alt="Instafeed">
      </li>
    </ul>
</div>-->

  <div id="news_strip">
    <a ng-repeat="(k, n) in news track by $index" ng-style="{'right': get_news_right($index)}" id="news_{{$index}}" ng-mouseover="conf.news_move_flag=false"
      ng-mouseout="conf.news_move_flag=true">
                <img style="cursor:pointer;" ng-click="openInstaProfile()" style="margin:1%;" ng-src="{{n.imageUrl}}" width="200" height="150" alt="Instafeed">
            </a>
  </div>

</section>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="messageModalLabel">{{messageType}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="padding:5%;" class="col-full">
            {{message}}
          </div>
          <!--<div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Its button
					</div>-->
        </div>
      </div>
      <!--<div class="modal-body" ng-show="error">
				<div class="row filter-remove text-center">
					<p>Error</p>
				</div>
			</div>-->
    </div>
  </div>
</div>
