<div style="background-color:#000;background-image: url('images/home.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="slider-caption-center">
      <h2 class="text-center primary-title">
        WITH WANDERWAGON YOU ARE FREE </h2>
      <h2 class="text-center primary-title-1" >
        {{changingText}}</h2>
      <!--<p style="font-size:2.5rem; margin-bottom:50px; color:#fff;" class="text-center">
        "Wanderwagon is the perfect partner to plan that much awaited trip with your buddies"
      </p>-->
      <a href="#content" du-smooth-scroll="" du-scrollspy="" duration="800" class="custom-button center-block text-center">
        <span>Let's Wander</span> <i style="margin-left:10px;" class="icon-angle-right"></i></a>
    </div>
  </div>
</div>


<section id="travel" style="margin-top:3%;" class="custom-padding" >

  <div>
    <h2 class="paul-title">
      Travel Inspiration

    </h2>

    <p style="font-size:2rem;" class="text-center"> 
      Your choices, Your friends, Your travel plans
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;">
      </div>
    </p>


    <div id="home-sm-carousel" class="carousel slide bootstrap-carousel" style="height:500px;" data-ride="carousel" data-interval="0">
  <a style="background-color: #000000;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 00%;
    margin-bottom: auto;
    margin-top: auto;
    top: 0%;
    z-index: 5;
    left: 1em;" class="btn" href="" data-target="#home-sm-carousel" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; color:white; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: #000000;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 0%;
    z-index: 5;
    right: 1em;" class="btn" href="" data-target="#home-sm-carousel" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; color:white; font-weight:600;" class="icon-angle-right"></i></a>

    

          <div class="carousel-inner" >
            <div style="height:500px;" class="item" data-ng-repeat="slide in slider" data-ng-class="{active : $first}">
                          <img ng-click="openOrCloseAccordion()" ng-touch="openOrCloseAccordion()" style="object-fit:cover; width:100%; height:500px;" src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/blogs/solotravel/cover.jpg" class="img-responsive" alt="{{slide.text}}" />
                          <span class="paul-slider-caption">
                    {{slide.title}}</span>
            </div>
          </div>
        </div>

    <div class="row custom-paul-slider">
      <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel" data-interval="false">
        <a style="background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;

    margin-bottom: auto;
    margin-top: auto;
        bottom: 0px;
    top: 0px;
    z-index: 20;
    left: -2.22222em;" class="btn" href="" data-target="#carousel-example-generic" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    z-index: 20;
    right: -2.22222em;" class="btn" href="" data-target="#carousel-example-generic" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; font-weight:600;" class="icon-angle-right"></i></a>

    

        <div class="carousel-inner">
          <div class="item active" style="padding:1% 0 1% 0%">
            <div class="row">

              <div class="col-sm-3 nopadding">

                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[0].imageUrl}}" class="img-responsive" alt="{{slider[0].text}}" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[0].title}}</span>

                </div>

              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[1].imageUrl}}" class="img-responsive" alt="{{slider[1].text}}" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[1].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[2].imageUrl}}" class="img-responsive" alt="{{slider[2].text}}" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[2].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[3].imageUrl}}" class="img-responsive" alt="{{slider[3].text}}" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[3].title}}</span>

                </div>
              </div>
            </div>
          </div>
          <div class="item" style="padding:1% 0% 1% 0%">
            <div class="row">

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[4].imageUrl}}" class="img-responsive" alt="{{slider[4].text}}" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[4].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[5].imageUrl}}" class="img-responsive" alt="{{slider[5].text}}" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[5].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[6].imageUrl}}" class="img-responsive" alt="{{slider[6].text}}" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[6].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[7].imageUrl}}" class="img-responsive" alt="{{slider[7].text}}" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[7].title}}</span>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div id="accordion" class="clearfix topmargin">
    <uib-accordion >
      <uib-accordion-group is-open="openAccordion">

         <div id="activityDetail-carousel" class="carousel slide" data-ride="carousel" data-interval="0">
  <a style="background-color: #12edd0;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 10%;
    z-index: 5;
    left: 3em;" class="btn" href="" data-target="#activityDetail-carousel" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; color:white; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: #12edd0;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 10%;
    z-index: 5;
    right: 3em;" class="btn" href="" data-target="#activityDetail-carousel" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; color:white; font-weight:600;" class="icon-angle-right"></i></a>

          <!--<ol class="carousel-indicators">
            <li data-target="#dynamiccontentcarousel" data-ng-repeat="place in placeDetails" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
          </ol>-->

          <div class="carousel-inner" role="listbox">
            <div class="item" data-ng-repeat="inspiration in inspirationData" data-ng-class="{active : $first}">
                          <div class="center-block" style="width:80%;">
                <div >
                  <h2  ui-sref="travel-plan.detail({id: inspiration.id})" style="cursor:pointer; text-align:center;margin:2rem 0 2rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;"><br /> {{inspiration.name}}
                    <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
                    </div>
                  </h2>
                </div>

                <div class="dropdown-slider-image">
                  <a ui-sref="travel-plan.detail({id: inspiration.id})" ><img height="350px" width="100%" ng-src="{{inspiration.imageUrl}}" alt="Standard Post with Image"></a>
                </div>

                <div class="dropdown-slider-content">
                   <span ng-click="closeAccordion()" style="margin-top:4%; right:3%; position: absolute; cursor:pointer; font-size:3rem;" class="glyphicon glyphicon-remove-circle"></span>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    What is it.....</h4>

                  <p>{{inspiration.description}}
                  </p>

                  <!--<h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    How to reach</h4>
                  <p>{{inspiration.placeOfConduct}}
                  </p>


                  <div>
                    <h4 class="pull-left" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Timings - <span>{{activity.timing}}</span></h4>

                    <h4 class="pull-right" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Duration - <span>{{activity.duration}}</span></h4>
                    <br /><br /><br /><br />-->
                  </div>

                  <!--<center>
                    <span style="font-size:48px; padding-right:2%; " class="icon-line2-arrow-left"></span>
                    <span style="font-size:48px; padding-left:2%; " class="icon-line2-arrow-right"></span>
                  </center>-->

                </div>
              </div>
            </div>
          </div>
        

      </uib-accordion-group>
    </uib-accordion>
    </div>

  </div>
</section>



<section id="articles" class="custom-padding" >

  <div class="topmargin">
    <h2 ui-sref="blog.list" style="cursor:pointer;" class="paul-title">
      The Blog
    </h2>

    <p style="font-size:2rem;" class="text-center">
      Live the wanderlust through words
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;">
      </div>
    </p>
  </div>

  <div style="overflow:hidden; margin-bottom:-5%;">

    <div ui-sref="blog.list" class="image blog-image-left">
    
        <img ng-src="{{blog[0].imageUrl}}" alt="{{blog[0].title}}">
    </div>


    <div class="text-center blog-content-left" >
      <h3 style="cursor:pointer;" ui-sref="blog.list" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
        {{blog[0].title}}</h3>


      <div class="entry-content">
        <p>{{blog[0].description}}...
        </p>
        <div class="feature-info">
          <span class="icon-calendar3"> {{blog[0].time | date:'dd-MM-yy'}} • {{blog[0].user.name}}</span>
        </div>
      </div>

    </div>
  </div>


  <div style="overflow:hidden;">

    <div ui-sref="blog.list" class="image blog-image-right">
        <img ng-src="{{blog[1].imageUrl}}" alt="{{blog[1].title}}">

    </div>


    <div class="text blog-content-right">
      <h3 style="cursor:pointer;" ui-sref="blog.list" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
        {{blog[1].title}}</h3>


      <div class="entry-content">
        <p>{{blog[1].description}}...
        </p>
        <div class="feature-info">
          <span class="icon-calendar3"> {{blog[1].time | date:'dd-MM-yy'}} • {{blog[1].user.name}}</span>
        </div>
      </div>

    </div>
  </div>

</section>

<section>
  <div class="home-form-bg">

    <!--<div class="text_over_image">
        {{postDetail.title}}
      </div>-->
    <div class="home-form">
      <div style="padding:18% 5% 17% 5%">
        <div>

          <div>
            <h3 style="margin: 0;font-size: 25px;font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    color:#FFF;">Not Sure Where to Begin?</h3>
            <p style="color:#FFF; font-size:15px;">Complete this form &amp; we'll get right back to you!</p>
          </div>
        </div>
        <form name="inquiryForm" class="nobottommargin" ng-submit="onFormSubmit(inquiryForm)">
          <div  class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize">First Name<span class="asterisk">*</span></label>
            <input ng-model="inquiryObj.firstName" class="form-control" id="{{inquireFirstName}}" type="text" placeholder="*Required" value="{{firstName}}" data-parsley-trim-value="true"
              required data-prefill="firstName" />
          </div>

          <div class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize">Last Name</label>
            <input ng-model="inquiryObj.lastName" class="form-control" id="{{inquireLastName}}" type="text" value="{{lastName}}" data-parsley-trim-value="true" data-prefill="lastName"
            />
          </div>

          <div class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize">Email<span class="asterisk">*</span></label>
            <input ng-model="inquiryObj.email" class="form-control" id="{{inquireEmail}}" type="email" value="{{email}}" placeholder="*Required" data-parsley-trim-value="true"
              required data-prefill="email" />
          </div>


          <div  class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize">Phone Number<span class="asterisk">*</span></label>
            <div class="inquireTelContainer">
              <input ng-model="inquiryObj.phone" class="form-control" id="{{inquireTel}}" placeholder="*Required" value="{{tel}}" type="tel" data-parsley-intphone="{{inquireTel}}"
                data-parsley-cnic required data-prefill="phone" />
              <input id="{{inquireCountry}}" type="hidden" data-prefill="country" />
            </div>
          </div>

          <div  class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize" for="form-condition-10">I would like to go to...</label>
            <select ng-model="inquiryObj.destination" ng-click="display5={display:'block'}" id="form-condition-10" name="form-condition-10" class="required form-control">
									<option value=""> Select One </option>
									<option value="Rishikesh">Rishikesh</option>
									<option value="Manali">Manali</option>
									<option value="Dharamshala">Dharamshala</option>
									<option value="Ladakh">Ladakh</option>
									<option value="Shimla">Shimla</option>
								</select>
          </div>



          <div  class="col-sm-6 toppadding">
            <label style="color:#FFF; text-transform:capitalize" for="form-condition-10">In the month of...</label>
            <select ng-model="inquiryObj.travelMonth" ng-click="display5={display:'block'}" id="form-condition-10" name="form-condition-10" class="required form-control">
									<option value="">Travel Dates TBC</option>
									<option value="January">January</option>
									<option value="February">February</option>
									<option value="March">March</option>
									<option value="April">April</option>
									<option value="May">May</option>
                  <option value="June">June</option>
									<option value="July">July</option>
									<option value="August">August</option>
									<option value="September">September</option>
									<option value="October">October</option>
                  <option value="November">November</option>
									<option value="December">December</option>
								</select>
          </div>


          <div style="width:100%;" class="col-sm-12 toppadding">
            <label style="color:#FFF; text-transform:capitalize">What's the occasion?<span class="asterisk">*</span></label>
            <textarea ng-model="inquiryObj.occasion" style="max-width:100%; max-height:10%;" class="form-control" placeholder="Tell us a little bit about what you're looking for."></textarea>
          </div>

          <div style="text-transform:capitalize; padding-top:20px;" class="col-sm-12">
            <button type="submit" style="margin:0px !important; width:100%; height:70px;" id="{{inquireSubmit}}" class="button button-blue ">Submit Inquiry</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</section>



<section>
  <div class="topmargin">
    <h2 class="instaText">
      On Instagram @ wanderwagon
    </h2>
  </div>

<!--<div class="marque">
   <ul class="slideContainer" id="money_start">
      <li ng-repeat="photo in instaPhotos" class="slideItem">
        <img style="cursor:pointer;" ng-click="openInstaProfile()" style="margin:1%;" ng-src="{{photo.imageUrl}}" width="200" height="150" alt="Instafeed">
      </li>
    </ul>
</div>-->

 <div id="news_strip">
            <a ng-repeat="(k, n) in news track by $index" ng-style="{'right': get_news_right($index)}" id="news_{{$index}}" ng-mouseover="conf.news_move_flag=false" ng-mouseout="conf.news_move_flag=true">
                <img style="cursor:pointer;" ng-click="openInstaProfile()" style="margin:1%;" ng-src="{{n.imageUrl}}" width="200" height="150" alt="Instafeed">
            </a>
        </div>

</section>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="messageModalLabel">{{messageType}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="padding:5%;" class="col-full">
            {{message}}
          </div>
          <!--<div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Its button
					</div>-->
        </div>
      </div>
      <!--<div class="modal-body" ng-show="error">
				<div class="row filter-remove text-center">
					<p>Error</p>
				</div>
			</div>-->
    </div>
  </div>
</div>
