<!-- <div class='slider'>
    <div class="slideContainer">
            <div class="slideItem" >
                    <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[0].imageUrl}}" width="200" height="150" alt="Instafeed">
            </div>
            <div class="slideItem" >
                    <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[1].imageUrl}}" width="200" height="150" alt="Instafeed">
            </div>
            <div class="slideItem" >
                    <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[2].imageUrl}}" width="200" height="150" alt="Instafeed">
            </div>
            <div class="slideItem" >
                    <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[3].imageUrl}}" width="200" height="150" alt="Instafeed">
            </div>
            <div class="slideItem" >
                    <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[4].imageUrl}}" width="200" height="150" alt="Instafeed">
            </div>
            <div class="slideItem" >
                    <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[5].imageUrl}}" width="200" height="150" alt="Instafeed">
            </div>
            <div class="slideItem" >
                    <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[6].imageUrl}}" width="200" height="150" alt="Instafeed">
            </div>
            <div class="slideItem" >
                    <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[7].imageUrl}}" width="200" height="150" alt="Instafeed">
            </div>

        </div>
    </div> -->

    <div class='photo-roll--container'>
        <div class='photo-roll'>
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[0].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[1].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[2].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[3].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[4].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[5].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[6].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[7].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[0].imageUrl}}" alt="Instafeed">
                <img style="cursor:pointer;" ng-click="redirectToInstagram()" style="margin:1%;" ng-src="{{instaData[1].imageUrl}}" alt="Instafeed">
        </div>
      </div>
