<!-- Page Title
		============================================= -->
<!-- Content
		============================================= -->
<!--<section id="content" style="background-color:#000;background-image: url('images/slider/1.jpg'); background-size:cover; ">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="divcenter topmargin nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">


        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Login">
			  <div class="panel panel-default nobottommargin">
									<div class="panel-body" style="padding: 40px;">
										<form id="loginForm" name="loginForm" class="nobottommargin" ng-submit="onLogin(loginForm)">

											<h3>Login to your Account</h3>

											<div class="col_full">
												<label for="loginForm-username">Email:</label>
												<input ng-model="loginObj.emailId" type="text" id="loginForm-username" name="loginForm-username" value="" class="form-control" />
											</div>

											<div class="col_full">
												<label for="loginForm-password">Password:</label>
												<input ng-model="loginObj.password" type="password" id="loginForm-password" name="loginForm-password" value="" class="form-control" />
											</div>

											<div class="col_full nobottommargin">
												<button type="submit" class="button background-primary" id="loginForm-submit" name="loginForm-submit">Login</button>
												<a href="#" class="fright">Forgot Password?</a>
											</div>

										</form>

										<div class="line line-sm"></div>

								<div class="center">
                                     <h4 style="margin-bottom: 15px;"> Login with:</h4>
                                     <button class="button button-rounded si-facebook si-colored" ng-click="authenticate('facebook')"><i class="icon-facebook"></i>Facebook</button>
									 
                                     <span class="hidden-xs">or</span>
									 <button class="button button-rounded si-google si-colored" ng-click="authenticate('google')"><i class="icon-facebook"></i>Google</button>
                                </div>
									</div>
								</div>

          </uib-tab>
          <uib-tab index="1" heading="Sign up">

			  <div class="panel panel-default nobottommargin">
									<div class="panel-body" style="padding: 40px;">
										<h3>Sign up for an account</h3>

										<form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">

											<div class="col_full">
												<label for="register-form-name">Name:</label>
												<input type="text" id="register-form-name" name="register-form-name" value="" class="form-control" />
											</div>

											<div class="col_full">
												<label for="register-form-email">Email Address:</label>
												<input type="text" id="register-form-email" name="register-form-email" value="" class="form-control" />
											</div>

											<div class="col_full">
												<label for="register-form-password">Choose Password:</label>
												<input type="password" id="register-form-password" name="register-form-password" value="" class="form-control" />
											</div>

											<div class="col_full">
												<label for="register-form-repassword">Re-enter Password:</label>
												<input type="password" id="register-form-repassword" name="register-form-repassword" value="" class="form-control" />
											</div>

											<div class="col_full nobottommargin">
												<button class="button button-3d nomargin" id="register-form-submit" name="register-form-submit" value="register">Sign up</button>
											</div>

										</form>
									</div>
								</div>


          </uib-tab>
        </uib-tabset>

      </div>

    </div>

  </div>

</section>-->

<section id="content" style="background-color:#000;background-image: url('images/slider/1.jpg'); background-size:cover; ">

  <div class="content-wrap">

    <div class="container clearfix">
      <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
      <v-accordion class="vAccordion--default" multiple>

        <v-pane expanded>
          <v-pane-header>
           <div class="panel-body" style="padding: 40px;">
             <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
           </div>
          </v-pane-header>

          <v-pane-content>
             <form id="loginForm" name="loginForm" class="nobottommargin" ng-submit="onLogin(loginForm)">

              <h3>Login to your Account</h3>

              <div class="col_full">
                <label for="loginForm-username">Email:</label>
                <input ng-model="loginObj.emailId" type="text" id="loginForm-username" name="loginForm-username" value="" class="form-control"
                />
              </div>

              <div class="col_full">
                <label for="loginForm-password">Password:</label>
                <input ng-model="loginObj.password" type="password" id="loginForm-password" name="loginForm-password" value="" class="form-control"
                />
              </div>

              <div class="col_full nobottommargin">
                <button type="submit" class="button background-primary" id="loginForm-submit" name="loginForm-submit">Login</button>
                <a href="#" class="fright">Forgot Password?</a>
              </div>

            </form>

            <div class="line line-sm"></div>

            <div class="center">
              <h4 style="margin-bottom: 15px;"> Login with:</h4>
              <button class="button button-rounded si-facebook si-colored" ng-click="authenticate('facebook')"><i class="icon-facebook"></i>Facebook</button>

              <span class="hidden-xs">or</span>
              <button class="button button-rounded si-google si-colored" ng-click="authenticate('google')"><i class="icon-facebook"></i>Google</button>
            </div>
          
          </v-pane-content>
        </v-pane>

        <v-pane >
          <v-pane-header>
            Pane header #2
          </v-pane-header>

          <v-pane-content>
            Pane content #2
          </v-pane-content>
        </v-pane>

      </v-accordion>
      </div>

      <!--<div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">



        <div ng-click="heading1.isOpen = !heading1.isOpen" class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
		 <div ng-click="heading1.isOpen = !heading1.isOpen" class="acctitle"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>New Signup? Register for an Account</div>

     
          <uib-accordion>
            <uib-accordion-group is-open="heading1.isOpen">
              <div class="panel-body" style="padding: 40px;">
            <form id="loginForm" name="loginForm" class="nobottommargin" ng-submit="onLogin(loginForm)">

              <h3>Login to your Account</h3>

              <div class="col_full">
                <label for="loginForm-username">Email:</label>
                <input ng-model="loginObj.emailId" type="text" id="loginForm-username" name="loginForm-username" value="" class="form-control"
                />
              </div>

              <div class="col_full">
                <label for="loginForm-password">Password:</label>
                <input ng-model="loginObj.password" type="password" id="loginForm-password" name="loginForm-password" value="" class="form-control"
                />
              </div>

              <div class="col_full nobottommargin">
                <button type="submit" class="button background-primary" id="loginForm-submit" name="loginForm-submit">Login</button>
                <a href="#" class="fright">Forgot Password?</a>
              </div>

            </form>

            <div class="line line-sm"></div>

            <div class="center">
              <h4 style="margin-bottom: 15px;"> Login with:</h4>
              <button class="button button-rounded si-facebook si-colored" ng-click="authenticate('facebook')"><i class="icon-facebook"></i>Facebook</button>

              <span class="hidden-xs">or</span>
              <button class="button button-rounded si-google si-colored" ng-click="authenticate('google')"><i class="icon-facebook"></i>Google</button>
            </div>
          </div>
            </uib-accordion-group>
				<div class="acc_content clearfix">
          <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">
            <div class="col_full">
              <label for="register-form-name">Name:</label>
              <input type="text" id="register-form-name" name="register-form-name" value="" class="form-control" />
            </div>

            <div class="col_full">
              <label for="register-form-email">Email Address:</label>
              <input type="text" id="register-form-email" name="register-form-email" value="" class="form-control" />
            </div>

            <div class="col_full">
              <label for="register-form-phone">Phone:</label>
              <input type="text" id="register-form-phone" name="register-form-phone" value="" class="form-control" />
            </div>

            <div class="col_full">
              <label for="register-form-password">Choose Password:</label>
              <input type="password" id="register-form-password" name="register-form-password" value="" class="form-control" />
            </div>

            <div class="col_full">
              <label for="register-form-repassword">Re-enter Password:</label>
              <input type="password" id="register-form-repassword" name="register-form-repassword" value="" class="form-control" />
            </div>

            <div class="col_full nobottommargin">
              <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
            </div>
          </form>
        </div>
			 </uib-accordion-group>
          </uib-accordion>		
        

      </div>-->



    </div>

  </div>

</section>
<!-- #content end -->
