<section id="content" style="background-color:#36353B; height:100vh;">
  
        <div class="container clearfix login-margin">
                
                    <div class="center-block clearfix" style="max-width: 550px;background:rgba(255,255,255,0.5);margin-top:10%; padding: 50px; border-radius:1%;">
                
                       <div class="center">
                          <button ng-if="!isPaymentDone"  class="button button-3d button-rounded button-blue" ng-click="pay()">Pay with Razorpay</button>
                          <button ng-if="isPaymentDone" class="button button-3d button-rounded button-blue">Your Payment was successful!</button>
                         </div>                    
                
                    </div>
                
                  </div>
</section>


