<div class="cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/plan-trip/cover.jpg');background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; height:100vh;">
  <div class="container clearfix">

  </div>
</div>
<div class="mobile-cover-page" style="background-color:#36353B;background: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/mobile/plan_my_trip_cover.jpg') no-repeat center center fixed ;background-size: cover; height:100vh;">
  <div class="container clearfix">

  </div>
</div>


<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div style="float: none; display: block; margin-right: auto; margin-left: auto;" class="col_half nobottommargin">

        <form id="conditional-form" name="tripForm" class="nobottommargin" ng-submit="submitTravelPlanForm(tripForm)">
          <input type='hidden' name='csrfmiddlewaretoken' value='bajfYtFDAH9kXmH4gfAHVQOPg4DvfBYZ' />
          <div class="col_full">
            <label for="form-condition-1">Where would you like to go?</label>
            <input pattern="^[a-zA-Z ]*$" ng-keydown="display={display:'block'}" ng-dblclick="display={display:'block'}" ng-keypress="display={display:'block'}" type="text" class="form-control required" id="form-condition-1" name="form-condition-1"
              ng-model="formObj.destination" required>
            <!-- <a href="#" class="button button-border button-rounded"><i class="icon-gift"></i>Button</a> -->
          </div>

          <div ng-style="display" class="col_full" id="form-condition-2-wrap" style="display:none;">
            <label for="form-condition-2">Where would you like to start from?</label>
            <input pattern="^[a-zA-Z ]*$" ng-keydown="display1={display:'block'}" ng-dblclick="display1={display:'block'}" ng-keypress="display1={display:'block'}" type="text" class="form-control required" id="form-condition-2" name="form-condition-2"
              ng-model="formObj.departureCity" required>
          </div>

          <div ng-style="display1" class="input-daterange travel-date-group" style="display:none;">
            <div class="col_full">
              <label for="form-condition-3">When would you like to go?</label>
              <p class="input-group">
                <input ng-model="formObj.departureTime" ng-keydown="display2={display:'block'}" ng-dblclick="display2={display:'block'}" ng-click="display2={display:'block'}" type="text" class="form-control" popup-placement="top" show-button-bar="false" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                  ng-required="true"  alt-input-formats="altInputFormats" required/>
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-touch="open1(); display2={display:'block'}" ng-click="open1(); display2={display:'block'}"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
              </p>
            </div>
          </div>



          <div ng-style="display2" class="col_full" id="form-condition-4-wrap" style="display:none;">
            <label for="form-condition-4">How long would you like to go for?</label>
            <input required ng-model="formObj.duration" min="1" ng-keydown="display3={display:'block'}" placeholder="Enter Duration" ng-dblclick="display3={display:'block'}" ng-keypress="display3={display:'block'}" type="number" class="form-control required" id="form-condition-4" name="form-condition-4">
          </div>

          <div ng-style="display3" class="col_full" id="form-condition-5-wrap" style="display:none;">
            <label for="form-condition-5">How many wanderers would accompany you?</label>
            <input required ng-model="formObj.personCount" min="0" ng-keydown="display4={display:'block'}" ng-dblclick="display4={display:'block'}" ng-keypress="display4={display:'block'}" type="number" class="form-control required" id="form-condition-5" name="form-condition-5">
          </div>


          <div ng-style="display4" class="col_full" id="form-condition-10-wrap" style="display:none;">
            <label for="form-condition-10">What's the budget of your trip? ( per head )</label>
            <select required ng-model="formObj.perPersonBudget" ng-touch="display5={display:'block'}" ng-click="display5={display:'block'}" id="form-condition-10" name="form-condition-10" class="required form-control">
									<option value=""> Select One </option>
									<option value="5K">5K</option>
									<option value="5K to 10K">5K to 10K</option>
									<option value="10K to 15K">10K to 15K</option>
									<option value="15K to 20K">15K to 20K</option>
									<option value="more than 20K">more than 20K</option>
								</select>
          </div>


          <div ng-style="display5" class="col_full" id="form-condition-12-wrap" style="display:none;">
            <label for="form-condition-12">What stage of planning do you find yourself in?</label>
            <select required ng-model="formObj.planningStage" ng-touch="display6={display:'block'}" ng-click="display6={display:'block'}" id="form-condition-12" name="form-condition-12" class="required form-control">
									<option value=""> Select One </option>
									<option value="Still dreaming...not sure I'm going to this trip">DREAMING - I really want to but haven't 
                    planned anything yet</option>
									<option value="I know I am going somewhere, but not sure about the places">PLANNING - I'm Going somewhere, Not sure
                    where</option>
									<option value="I am definitely going">BOOKING - I am ready for my next
                    adventure.</option>
								</select>
          </div>
        

          <div ng-style="display6" class="col_full" id="form-condition-13-wrap" style="display:none;">
            <label for="form-condition-13">What would you like to see and do ? ( or you can leave it to us )</label>
            <textarea ng-model="formObj.message" pattern="^[a-zA-Z ]*$" ng-keydown="display7={display:'block'}" ng-dblclick="display7={display:'block'}" ng-keypress="display7={display:'block'}" class="form-control required" id="form-condition-13" name="form-condition-13"
              rows="5" col="20" placeholder="Message to us"></textarea>
          </div>

          <div ng-style="display7" class="col_full" id="form-condition-16-wrap" style="display:none;">
            <label for="form-condition-16">Phone No.</label>
            <input  pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" required ng-model="formObj.phone" ng-keydown="display10={display:'block'}" ng-dblclick="display10={display:'block'}" ng-keypress="display10={display:'block'}" type="tel" class="form-control required" id="form-condition-16" name="form-condition-16"
              value="">
          </div>

          <div ng-style="display10" class="col_full" id="form-condition-submit" style="display:none;">
            <button  class="button nomargin" type="submit">Plan My Trip</button>
          </div>

        </form>

      </div>

    </div>

  </div>

</section>
<!-- #content end -->


<div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="tripModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="tripModallabel">{{messageType}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div style="padding:5%;" class="col-full">
						{{message}}
					</div>
				</div>
			</div>

	</div>
	</div>
</div>

<div class="modal fade" id="plantripModal" tabindex="-1" role="dialog" aria-labelledby="plantripModal">
  <div class="modal-dialog" role="document">
      <button style="color:#FFF; font-size:20px;" type="button" class="close " data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <img src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/popups/plantrip_popup.jpeg">
  </div>
</div>
