<section style="background:#36353B;" id="page-title">



</section>

<div class="container padding-t-30 padding-b-30">
  <br />
  <h1 class="font-24 sm-font-20">Privacy Policy</h1>
  <b>
    We recognize that your privacy is very important and take it seriously. This Privacy Policy (“Privacy Policy”) describes the Company's policies and procedures on the collection, use and disclosure of your information when you use the Website or our Services. We will not use or share your information with anyone except as described in this Privacy Policy. Please read the following statement to learn about our information gathering and dissemination practices. Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. <br/><br/></b>
  <ul class='normal_ul'>
    <li><b>Collection of Personally Identifiable Information</b><br/> We collect personally identifiable information (email address,
      name, phone number, etc.) from you when you set up a free account with wanderwagon.com. While you can browse some sections
      of our site without being a registered member, certain activities (such as placing an order) do require registration.
      We do use your contact information to send you offers based on your previous orders and your interests.
    </li>

    <li><b>Use of Demographic and Profile Data</b> We use personal information to provide the services you request. To the extent
      we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use
      your personal information to resolve disputes; troubleshoot problems; help promote a safe service; collect fees owed;
      measure consumer interest in our products and services, inform you about online and offline offers, products, services,
      and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce
      our terms and conditions; and as otherwise described to you at the time of collection. In our efforts to continually
      improve our product and service offerings, we collect and analyze demographic and profile data about our users' activity
      on our website. We identify and use your IP address to help diagnose problems with our server, and to administer our
      website. Your IP address is also used to help identify you and to gather broad demographic information. We will occasionally
      ask you to complete optional online surveys. These surveys may ask you for contact information and demographic information
      (like zip code, age, or income level). We use this data to tailor your experience at our site, providing you with content
      that we think you might be interested in and to display content according to your preferences. <br/>
      <b>Cook:</b>
      A "cookie" is
      a small piece of information stored by a Web server on a Web browser so it can be later read back from that browser.
      Cookies are useful for enabling the browser to remember information specific to a given user. wanderwagon.com places
      both permanent and temporary cookies in your computer's hard drive. wanderwagon.com's cookies do not contain any of
      your personally identifiable information.
    </li>

    <li><b>Sharing of personal information</b>
      Wanderwagon ensures utmost privacy of the information you provide. However when you plan your trip via us we are bound to provide certain information to hotel, cabs, travel agency and other third parties to ensure necessary travel arrangements. The information may also be shared with our business partners and they may contact the customer but only to improve their overall experience. These include- travel insurance, insurance against loss of banking cards, wallet or other similar sensitive information etc.We may share personal information without other corporate entities and affiliates to: help detect and prevent identity theft, fraud and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of our services; and to facilitate joint or co-branded services that you request where such services are provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of such sharing unless you explicitly opt-in.
      The information may be used for statistical analysis to get general preferences and interests in certain areas by certain class of customers. This analysis may be used by other website, apps, or newspapers or magazines.
    </li>

    <li><b>Links to Other Sites</b>
      Our site links to other websites that may collect personally identifiable information about you. Wanderwagon.com is not responsible for the privacy practices or the content of those linked websites.

    </li>

    <li><b>Security Precautions</b>
      Our site has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access.     
    </li>

    <li><b>Choice/Opt-Out</b>
      Wanderwagon.com provides all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related) communications from us on behalf of our partners, and from us in general, after setting up an account. To remove your contact information from all wanderwagon.com lists and newsletters, Please contact us at the email address below.

    </li>

    <li><b>Questions?</b>
      Questions regarding this statement should be directed to the following email address: support@wanderwagon.com , or If you believe any information that we are holding is incorrect or altered in past then write immediately to above to manage changes.

    </li>
  </ul>
</div>
