	<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<!-- Document Wrapper
	============================================= -->
	<div class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="transparent-topbar">

			<div class="container clearfix">

				<div class="col_half nobottommargin clearfix">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li><a ui-sref="login">Login</a></li>
							<li><a ui-sref="signUp">Sign Up</a></li>
							<li><a ui-sref="partner">Partner With Us</a></li>
							<li><a ui-sref="careers">Careers</a></li>
						</ul>
					</div>
					<!-- .top-links end -->

				</div>

				<div ng-controller="LinkCtrl" class="col_half fright col_last clearfix nobottommargin">

					<!-- Top Social
					============================================= -->

					<div id="top-social">
						<ul>
							<li><a href="" ng-click="openFacebook()" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="" ng-click="openTwitter()" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="" ng-click="openInstagram()" class="si-instagram"><span class="ts-icon"><i class="icon-instagram"></i></span><span class="ts-text">Instagram</span></a></li>
							<li><a href="" ng-click="openYoutube()" class="si-youtube"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">Youtube</span></a></li>
							<li><a href="tel:1800 123 1234" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">1800 123 1234</span></a></li>
							<li><a href="mailto:info@travike.com" class="si-email3"><span class="ts-icon"><i class="icon-envelope2"></i></span><span class="ts-text">info@travike.com</span></a></li>
						</ul>
					</div>
					<!-- #top-social end -->

				</div>

			</div>

		</div>
		<!-- #top-bar end -->


		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header" data-sticky-class="not-dark" data-responsive-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="" ui-sref="home" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo-dark.png" alt="Canvas Logo"></a>
						<a href="" ui-sref="home" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo-dark@2x.png" alt="Canvas Logo"></a>
					</div>
					<!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="style-2">

						<ul>
							<li>
								<a href="" ui-sref-active="current" ui-sref="home">
									<div><i class="icon-home2"></i>Home</div>
								</a>
							</li>
							<li>
								<a href="" ui-sref-active="active-menu" ui-sref="gallery">
									<div><i class="icon-picture"></i>Gallery</div>
								</a>
							</li>
							<li>
								<a href="" ui-sref-active="active-menu" ui-sref="events">
									<div><i class="icon-calendar"></i>Events</div>
								</a>
							</li>
							<li>
								<a href="" ui-sref-active="active-menu" ui-sref="community">
									<div><i class="icon-users"></i>Community</div>
								</a>
							</li>
							<li>
								<a href="" ui-sref-active="active-menu" ui-sref="about">
									<div><i class="icon-info"></i>About Us</div>
								</a>
							</li>
							<li>
								<a href="" ui-sref-active="active-menu" ui-sref="contact">
									<div><i class="icon-call    "></i>Contact Us</div>
								</a>
							</li>
						</ul>

					</nav>
					<!-- #primary-menu end -->

				</div>

			</div>

		</header>
		<!-- #header end -->






<!-- Page Title
		============================================= -->
<section> {{test}}

    <div style="height: 520px">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" index="slide.id" style="background-color: #222">
                <img ng-src="{{slide.image}}" style="margin:auto; min-width: 100%; height: 520px;">
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- #page-title end -->


<section id="content">
    <div class="content-wrap nopadding">
        <div class="section notopmargin">
            <div class="container clearfix">
                <div class="heading-block center nobottomborder nobottommargin">
                    <h2>Why Choose Us</h2>
                </div>

            </div>
        </div>
    </div>
    <div class="container bottommargin-lg clearfix">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box-awesome-service">
                    <div class="box-icon">
                        <span class="icon-compass"></span>
                    </div>
                    <div class="box-text">
                        <h3>ADVENTURE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat urna a vehicula bibendum,
                            cras erat ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box-awesome-service">
                    <div class="box-icon">
                        <span class="icon-support"></span>
                    </div>
                    <div class="box-text">
                        <h3>FUN & SAFETY</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat urna a vehicula bibendum,
                            cras erat ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box-awesome-service">
                    <div class="box-icon">
                        <span class="icon-flag"></span>
                    </div>
                    <div class="box-text">
                        <h3>IMPECCABLE SERVICE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat urna a vehicula bibendum,
                            cras erat ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





// New Header

<!-- Header
		============================================= -->
		<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo-dark.png" alt="Canvas Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">

						<ul>
							<li class="current"><a href="index.html"><div>Home</div></a>
								
							</li>
							<li><a href="#"><div>Features</div></a>
							</li>
							<li class="mega-menu"><a href="#"><div>Pages</div></a>
							</li>
							<li class="mega-menu"><a href="#"><div>Portfolio</div></a>
							</li>
							<li class="mega-menu"><a href="#"><div>Blog</div></a>>
							</li>
							<li><a href="shop.html"><div>Shop</div></a>
							</li>
							<li class="mega-menu"><a href="#"><div>Shortcodes</div></a>
							</li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->