<div class="cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/testimonial/testimonial-cover.jpg');background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="center-block">
      <h2 class="text-center" style="font-size:48px;letter-spacing:0px;font-weight:600;color:#fff;margin-top:25%;" data-caption-animate="fadeInUp">
        You're making us BLUSH! 
      </h2>
      <p style="font-size:3rem; font-style:italic; color:#fff;" class="text-center"> See what people are saying about Wanderwagon. </p>
    </div>
  </div>
</div>

<div class="mobile-cover-page" style="background-color:#36353B;background-image: url('https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/mobile/testimonial_cover.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="center-block">
      <h2 class="text-center" style="font-size:32px;letter-spacing:0px;font-weight:600;color:#fff;margin-top:40%;" data-caption-animate="fadeInUp">
        You're making us BLUSH! 
      </h2>
      <p style="font-size:2rem; font-style:italic;color:#fff;" class="text-center"> See what people are saying about Wanderwagon. </p>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div style="margin-top:3%; ">
      <h2 class="paul-title">
        Testimonials
      </h2>
      <div class="underline" style="margin-bottom:5%;">
        </div>
    </div>

    <div class="clearfix" style="border:0px solid #EEE;padding:10px;">
      <div class="blog-image-left">
        <a><img height="150" width="150" class="center-block img-circle" src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/testimonial/liene_svarce.jpg" alt="Standard Post with Image"></a>
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          Liene Svarce
        </h4>
          <!-- <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
            About</h4> -->
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:10px;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">

          <i class="icon-location"></i>Latvia</h4>
      </div>

      <div class="blog-content-left">
        <div class="entry-title">
          <h3 class="common-title">
            Very helpful via e-mails, really quick to reply, and super friendly</h3>
        </div>

        <div class="common-font" style="margin-top:50px;">
          <p>I felt very looked after. I would highly recommend using Wanderwagon to book your travels- whatever you have in mind, they can do it! They helped me plan everything that I wanted to do – without feeling like I was on a strict itinerary. I explained that I was a solo female backpacker on a budget and they put together a great itinerary for me that was well within my budget. They were very helpful via e-mails, really quick to reply, and super friendly – I felt like I was just getting help from good friends! They took me out for meals, showed me great local spots, and just made me feel like I was one of their friends. I can’t say enough nice things about Wanderwagon. I would like to thank you again for these moments. Whenever I come back to India I will definitely remember you!
          </p>
        </div>
      </div>
    </div>

   <div class="clearfix"  style="border:0px solid #EEE;padding:10px; margin:20px 0;">
      <div class="blog-image-right">
        <a><img height="150" width="150" class="center-block img-circle" src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/testimonial/alok_tiwari+.jpg" alt="Standard Post with Image"></a>
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          Alok Tiwari</h4>
          <!-- <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
            About</h4> -->
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:10px;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          <i class="icon-location"></i>Gurugram</h4>
      </div>

      <div class="blog-content-right">
        <div class="entry-title">
          <h3 class="common-title">
            Organisers were friendly and obliging</h3>
        </div>

        <div class="common-font" style="margin-top:50px;">
          <p>Someone has rightly said that dreams are made to be followed and life is meant to be lived. And to live a life to its fullest what’s more startling than the adventurous road trips and that too for 5 days. It was the most fun and crazy trip I have ever taken. The road trip challenged my patience and how to be able to stay calm in every new situation. The organisers were so friendly and obliging that we all started living like a family. I feel so fortunate that I got a chance to be a part of this wonderful venture and would like to thank Wanderwagon to make this whole journey worth remembering. They all were so cooperative and fun loving. Have stories to tell not stuff to show. 
          </p>
        </div>
      </div>
    </div>

    <div class="clearfix" style="border:0px solid #EEE;padding:10px;">
      <div class="blog-image-left" >
        <a><img height="150" width="150" class="center-block img-circle" src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/testimonial/shashank_yadav.jpg" alt="Standard Post with Image"></a>
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          Shashank Yadav
        </h4>
          <!-- <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
            About</h4> -->
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:10px;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">

          <i class="icon-location"></i>Mumbai</h4>
      </div>

      <div class="blog-content-left">
        <div class="entry-title">
          <h3 class="common-title">
            People with best travel plans. 
          </h3>
        </div>

        <div class="common-font" style="margin-top:50px;">
          <p>A team of concerned people providing their customers with high satisfaction and with best travel plans. I planned a trip to Nainital and we were taken care of. They did not prove us wrong anywhere. I went to a number of places and I swear those days were the foremost part of my life. Each and every moment was worth living. </p>
        </div>
      </div>
    </div>

   <div class="clearfix"  style="border:0px solid #EEE;padding:10px; margin:20px 0;">
      <div class="blog-image-right">
        <a><img height="150" width="150" class="center-block img-circle" src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/testimonial/gulshan_gupta.jpg" alt="Standard Post with Image"></a>
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          Gulshan gupta
        </h4>
          <!-- <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
            About</h4> -->
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:10px;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          <i class="icon-location"></i>Auroville</h4>
      </div>

      <div class="blog-content-right">
        <div class="entry-title">
          <h3 class="common-title">
            Wanderwagon is for all the adventure enthusiasts
          </h3>
        </div>

        <div class="common-font" style="margin-top:50px;">
          <p>If you are the kind of person who would like to have some real life experiences rather than staying in some hotel and visiting the same cliche places then Wanderwagon is for you. I had the opportunity to attend the Rishikesh camp, and I absolutely loved it. The place was very beautiful and the camp area was neat. Although we stayed only for one day, we still were able to cover a lot of activities including- kayaking, flying fox, hike to a waterfall, night trek, bonfires in the night (with fireflies twinkling around). It was amazing, wish we had the time to stay longer. The best of all were the camp organizers, superb people- friendly, fun and adventurous.
          </p>
        </div>
      </div>
    </div>

    <div class="clearfix" style="border:0px solid #EEE;padding:10px;">
      <div class="blog-image-left">
        <a><img height="150" width="150" class="center-block img-circle" src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/testimonial/sahil_trivedi.jpg" alt="Standard Post with Image"></a>
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          Sahil Trivedi
        </h4>
          <!-- <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
            About</h4> -->
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:10px;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">

          <i class="icon-location"></i>Bangalore</h4>
      </div>

      <div class="blog-content-left">
        <div class="entry-title">
          <h3 class="common-title">
            Trek would have been impossible without the travel plans provided by them 
          </h3>
        </div>

        <div class="common-font" style="margin-top:50px;">
          <p>Recently we teamed up with Wanderwagon for the Spiti expedition. To make this plan successful, the kind of support, facility and hospitality given by Wanderwagon members is just amazing and I can't forget in my lifetime. Thanks to the team which has respect towards the local people. This trek would have been impossible without the travel plans provided by them. Looking forward to more and more such expedition with Wanderwagon. We just love you. </p>
        </div>
      </div>
    </div>

   <div class="clearfix"  style="border:0px solid #EEE;padding:10px; margin:20px 0;">
      <div class="blog-image-right">
        <a><img height="150" width="150" class="center-block img-circle" src="https://s3-ap-southeast-1.amazonaws.com/wanderwagon/images/testimonial/ayushi_khandelwal.jpg" alt="Standard Post with Image"></a>
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          Aayushi Khandelwal
        </h4>
          <!-- <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
            About</h4> -->
        <h4 class="text-center" style="line-height:1.2142857142857142;margin-top:10px;margin-right:0;margin-bottom:0;margin-left:0;font-size:18px;color:#2c3643;">
          <i class="icon-location"></i>New Delhi</h4>
      </div>

      <div class="blog-content-right">
        <div class="entry-title">
          <h3 class="common-title">
            Camping and hotel arrangements were very good.
          </h3>
        </div>

        <div class="common-font" style="margin-top:50px;">
          <p>
            These guys made our farewell trip to McLeodganj & Triund awesome.I really enjoyed trekking and camping at triund.Camping and hotel arrangements were very good.I can't forget the acoustic sounds @bonfire.We enjoyed a lot.Keep planning
            </p>
        </div>
      </div>
    </div>


  </div>
</section>
