             <div class="center-block" style="width:80%;">
                <div>
                  <h2 style="text-align:center;margin:2rem 0 2rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;"><br /> {{detail.name}}
                    <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
                    </div>
                  </h2>
                </div>

                <div class="pull-left" style="width:30%;">
                  <a href="images/blog3.jpg"><img height="350px" width="100%" ng-src="{{detail.imageUrl}}" alt="Standard Post with Image"></a>
                </div>

                <div class="pull-right" style="width:70%; padding-left:10px; text-align:left;">
                   <span ng-click="header1.isOpen=! header1.isOpen" style="top:0; right:20%; position: absolute; cursor:pointer; font-size:3rem;" class="glyphicon glyphicon-remove-circle"></span>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    What is it.....</h4>

                  <p>{{detail.description}}
                  </p>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    Overview</h4>

                  <p>{{detail.overview}}
                  </p>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    How to reach</h4>
                  <p>{{detail.howToReach}}
                  </p>

                  <div>
                    <h4 class="pull-left" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Timings - <span>{{detail.timings}}</span></h4>

                    <h4 class="pull-right" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Pricing - <span>{{detail.price}}</span></h4>
                    <br /><br /><br /><br />
                  </div>

                  <!--<center>
                    <span style="font-size:48px; padding-right:2%; " class="icon-line2-arrow-left"></span>
                    <span style="font-size:48px; padding-left:2%; " class="icon-line2-arrow-right"></span>
                  </center>-->

                </div>
              </div>