<div style="background-color:#36353B;background-image: url({{planDetail.imageUrl}});background-size: cover; height:100vh;">
  <div class="container clearfix">


  </div>
</div>

<section id="about">
  <div class=" container clearfix">
    <div>
      <h2 style="text-align:center;margin:6rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:100;font-size:3.8rem;">
        About the plan
        <div class="underline" style="margin-top:15px;">
        </div>
      </h2>
    </div>

    <div class="center-block custom-para">
      <p hm-read-more hm-text="{{planDetail.description}}" hm-limit="500" hm-more-text="Read more" hm-less-text="Read less" hm-dots-class="dots"
        hm-link-class="links"></p>
      <br>
    </div>

  </div>
</section>


<section class=" container clearfix custom-height" id="places">

  <h2 style="text-align:center;margin:6rem 0 10rem 0;letter-spacing:-0.45px;line-height:1;font-weight:100;font-size:3.8rem;">
    Key Attractions
    <div class="underline" style="margin-top:15px;">
    </div>
  </h2>


  <ng-owl-carousel class="owl-theme" owl-items="planDetail.keyAttractions" owl-properties="sliderProperties" owl-ready="ready($api)">
    <div class="paul-slide-new" style="padding:2% 2% 2% 2%; max-height:500px;" data-ng-repeat="item in planDetail.keyAttractions">
      <img style="object-fit:cover; width:100%; height:100%;" class="owl-lazy" data-src="{{item.imageUrl}}">

    </div>
  </ng-owl-carousel>

</section>

<section class="container">
  <div class="pricing bottommargin clearfix">
    <div>
      <h2 style="text-align:center;margin:6rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:100;font-size:3.8rem;">
        Approx Price
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
    </div>

    <div class="col-md-3">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Backpacker</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">&#8377;</span>2000<span class="price-tenure">/head</span>
        </div>
        <!--<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>100</strong> User Accounts</li>
										<li><strong>1 Year</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>-->
      </div>

    </div>

    <div class="col-md-3">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Budget</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">&#8377;</span>4000<span class="price-tenure">/head</span>
        </div>
        <!--<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>100</strong> User Accounts</li>
										<li><strong>1 Year</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>-->
      </div>

    </div>

    <div class="col-md-3">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Comfort</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">&#8377;</span>6000<span class="price-tenure">/head</span>
        </div>
      </div>

    </div>

    <div class="col-md-3">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Luxury</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">&#8377;</span>8000<span class="price-tenure">/head</span>
        </div>
      </div>

    </div>

  </div>

</section>

<section>
  <div>
    <h2 style="text-align:center;margin:6rem 0 0rem 0;letter-spacing:-0.45px;line-height:1;font-weight:100;font-size:3.8rem;">
      Itinerary
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
      </div>
    </h2>
  </div>

  <div class="center-block custom-container">
    <flip-book></flip-book>
  </div>


</section>


<section>
  <div>
    <h2 style="text-align:center;margin:6rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:100;font-size:3.8rem;">
      Travel Tips
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
      </div>
    </h2>
  </div>


  <ul style="padding-left:5%;">
    <li style="font-size:18px; padding:1%;" ng-repeat="item in tips" type="square">{{item.tip}}</li>
  </ul>

  <div ui-sref="plan-trip" class="center-block " style=" width:50%; cursor:pointer; padding:2%;">
    <a class="button button-3d button-rounded button-blue loved-it-button"> Plan My Trip!</a>
  </div>



</section>
