<div style="background-color:#000;background-image: url('images/travel.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="slider-caption-center">
      <h2 class="text-center primary-title">
        It's time to travel</h2>
      <!--<a class="custom-button center-block text-center">
         <span>Let's Wander</span> <i style="margin-left:10px;" class="icon-angle-right"></i></a>-->


    </div>
  </div>
</div>


<section id="travel" style="margin-top:3%;" class="custom-padding">

  <div>
    <h2 class="paul-title">
      Travel Inspiration

    </h2>

    <p style="font-size:2rem;" class="text-center">
      Your choices, Your friends, Your travel plans
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;">
      </div>
    </p>


 <div id="home-sm-carousel" class="carousel slide bootstrap-carousel" data-ride="carousel" data-interval="0">
  <a style="background-color: #000000;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 00%;
    margin-bottom: auto;
    margin-top: auto;
    top: 0%;
    z-index: 5;
    left: 1em;" class="btn" href="" data-target="#home-sm-carousel" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; color:white; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: #000000;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 0%;
    z-index: 5;
    right: 1em;" class="btn" href="" data-target="#home-sm-carousel" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; color:white; font-weight:600;" class="icon-angle-right"></i></a>

          <!--<ol class="carousel-indicators">
            <li data-target="#dynamiccontentcarousel" data-ng-repeat="place in placeDetails" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
          </ol>-->

          <div class="carousel-inner" >
            <div class="item" data-ng-repeat="slide in slider" data-ng-class="{active : $first}">
                          <img ng-click="openOrCloseAccordion()" ng-touch="openOrCloseAccordion()" style="object-fit:cover; width:100%; height:500px;" ng-src="{{slide.imageUrl}}" class="img-responsive" alt="{{slide.text}}" />
                          <span class="paul-slider-caption">
                    {{slide.title}}</span>
            </div>
          </div>
        </div>


    <div class="row custom-paul-slider">
      <div id="travelPlan-carousel" class="carousel slide hidden-xs" data-ride="carousel">
        <a style="    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    z-index: 20;
    left: -2.22222em;" class="btn" href="" data-target="#travelPlan-carousel" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    z-index: 20;
    right: -2.22222em;" class="btn" href="" data-target="#travelPlan-carousel" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; font-weight:600;" class="icon-angle-right"></i></a>

        <!-- Wrapper for slides <-->

        <div class="carousel-inner">
          <div class="item active" style="padding:2% 0 2% 2%">
            <div class="row">

              <div class="col-sm-3 nopadding">

                  <div ng-click="openOrCloseAccordion()"  style="cursor:pointer;">
                    <div class="paul-slide">
                      <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[0].imageUrl}}" class="img-responsive" alt="a" />
                    </div>

                    <span class="paul-slider-caption">
                    {{slider[0].title}}</span>

                  </div>

              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[1].imageUrl}}" class="img-responsive" alt="a" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[1].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()"  style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[2].imageUrl}}" class="img-responsive" alt="a" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[2].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()"  style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[3].imageUrl}}" class="img-responsive" alt="a" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[3].title}}</span>

                </div>
              </div>
            </div>
          </div>
          <div class="item" style="padding:2% 0% 2% 0%">
            <div class="row">

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()"  style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[4].imageUrl}}" class="img-responsive" alt="a" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[4].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[5].imageUrl}}" class="img-responsive" alt="a" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[5].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[6].imageUrl}}" class="img-responsive" alt="a" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[6].title}}</span>

                </div>
              </div>

              <div class="col-sm-3 nopadding">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{slider[7].imageUrl}}" class="img-responsive" alt="a" />
                  </div>

                  <span class="paul-slider-caption">
                    {{slider[7].title}}</span>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div id="accordion" class="clearfix topmargin">
    <uib-accordion >
      <uib-accordion-group is-open="openAccordion">

         <div id="activityDetail-carousel" class="carousel slide" data-ride="carousel" data-interval="0">
  <a style="background-color: #12edd0;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 10%;
    z-index: 5;
    left: 3em;" class="btn" href="" data-target="#activityDetail-carousel" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; color:white; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: #12edd0;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 10%;
    z-index: 5;
    right: 3em;" class="btn" href="" data-target="#activityDetail-carousel" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; color:white; font-weight:600;" class="icon-angle-right"></i></a>

          <!--<ol class="carousel-indicators">
            <li data-target="#dynamiccontentcarousel" data-ng-repeat="place in placeDetails" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
          </ol>-->

          <div class="carousel-inner" role="listbox">
            <div class="item" data-ng-repeat="inspiration in inspirationData" data-ng-class="{active : $first}">
                          <div class="center-block" style="width:80%;">
                <div>
                  <h2 ui-sref="travel-plan.detail({id: inspiration.id})" style="cursor:pointer; text-align:center;margin:2rem 0 2rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;"><br /> {{inspiration.name}}
                    <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
                    </div>
                  </h2>
                </div>

                <div class="dropdown-slider-image">
                  <a ui-sref="travel-plan.detail({id: inspiration.id})" ><img height="350px" width="100%" ng-src="{{inspiration.imageUrl}}" alt="Standard Post with Image"></a>
                </div>

                <div class="dropdown-slider-content">
                   <span ng-click="closeAccordion()" style="margin-top:4%; right:3%; position: absolute; cursor:pointer; font-size:3rem;" class="glyphicon glyphicon-remove-circle"></span>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    What is it.....</h4>

                  <p>{{inspiration.description}}
                  </p>

                  <!--<h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    How to reach</h4>
                  <p>{{inspiration.placeOfConduct}}
                  </p>


                  <div>
                    <h4 class="pull-left" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Timings - <span>{{activity.timing}}</span></h4>

                    <h4 class="pull-right" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Duration - <span>{{activity.duration}}</span></h4>
                    <br /><br /><br /><br />-->
                  </div>

                  <!--<center>
                    <span style="font-size:48px; padding-right:2%; " class="icon-line2-arrow-left"></span>
                    <span style="font-size:48px; padding-left:2%; " class="icon-line2-arrow-right"></span>
                  </center>-->

                </div>
              </div>
            </div>
          </div>
        

      </uib-accordion-group>
    </uib-accordion>
    </div>
</section>

<section id="articles" class="custom-padding">
  <div class="topmargin">
    <h2 ui-sref="blog.list" style="cursor:pointer;" class="paul-title">
      Recent Articles
    </h2>

    <p style="font-size:2rem;" class="text-center">
      Live the wanderlust through words
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;">
      </div>
    </p>
  </div>

  <div style="overflow:hidden; margin-bottom:-5%;">

    <div ui-sref="blog.list" class="image blog-image-left">
      <picture>
        <!--<source media="(min-width: 1280px)" srcset="https://www.roughguides.com/wp-content/uploads/2016/04/pier-440339-660x420.jpg 1280w">
        <source media="(min-width: 960px)" srcset="https://www.roughguides.com/wp-content/uploads/2016/04/pier-440339-660x420.jpg 960w">
        <source media="(min-width: 640px)" srcset="https://www.roughguides.com/wp-content/uploads/2016/04/pier-440339-660x420.jpg 640w">-->

        <img ng-src="{{blog[0].imageUrl}}" alt="{{blog[0].title}}">
      </picture>
    </div>


    <div class="text blog-content-left">
      <h3 style="cursor:pointer;" ui-sref="blog.list" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
        {{blog[0].title}}</h3>


      <div class="entry-content">
        <p>{{blog[0].description}}...
        </p>
        <div class="feature-info">
          <span class="icon-calendar3"> {{blog[0].time }} • {{blog[0].user.name}}</span>
        </div>
      </div>

    </div>
  </div>


  <div style="overflow:hidden;">

    <div ui-sref="blog.list" class="image blog-image-right">
      <picture>
        <!--<source media="(min-width: 1280px)" srcset="https://www.roughguides.com/wp-content/uploads/2016/04/pier-440339-660x420.jpg 1280w">
        <source media="(min-width: 960px)" srcset="https://www.roughguides.com/wp-content/uploads/2016/04/pier-440339-660x420.jpg 960w">
        <source media="(min-width: 640px)" srcset="https://www.roughguides.com/wp-content/uploads/2016/04/pier-440339-660x420.jpg 640w">-->

        <img ng-src="{{blog[1].imageUrl}}" alt="{{blog[1].title}}">
      </picture>
    </div>


    <div class="text blog-content-right">
      <h3 style="cursor:pointer;" ui-sref="blog.list" style="line-height:1.2142857142857142;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:28px;font-weight:600;color:#2c3643;">
        {{blog[1].title}}</h3>


      <div class="entry-content">
        <p>{{blog[1].description}}...
        </p>
        <div class="feature-info">
          <span class="icon-calendar3"> {{blog[1].time}} • {{blog[1].user.name}}</span>
        </div>
      </div>

    </div>
  </div>

</section>
