<div style="background-color:#000;background-image: url('images/travel.jpg');background-size: cover; height:100vh;">
  <div class="container clearfix">
    <div class="slider-caption-center">
      <h2 class="text-center primary-title">
        It's time to travel</h2>
      <!--<a class="custom-button center-block text-center">
         <span>Let's Wander</span> <i style="margin-left:10px;" class="icon-angle-right"></i></a>-->


    </div>
  </div>
</div>

<section id="about">
  <div class=" container clearfix">
    <div>
      <h2 style="text-align:center;margin:6rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
        Heading
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
    </div>
    <div class="center-block custom-para">
      <p>The abode of mysticism, spirituality and natural beauty, Rishikesh is among the holiest places in India. Cradled in
        the lap of the Himalayas and adorned by the grace of the holy Ganges, this holy city is the confluence point of several
        mythological tales, faiths, and beliefs. A kaleidoscopic destination in the picturesque state of Uttarakhand, Rishikesh
        is known for its sanctity, bountiful nature, pleasant and calm ambience. It has been an abode of ascetics since,
        well, time immemorial. It is also famous as the gateway to the Garhwal mountains and sacred spots in them like the
        source of the Ganga, the Badrinath and Kedarnath shrines and more. Blessed with the beautiful, thundering river of
        Ganga, the great trek friendly rugged terrains, challenging peaks, difficult rapids and dense forests, Rishikesh
        makes for one of an ideal weekend getaway near Delhi. Rishikesh warmly welcomes thrill seekers, who can try out some
        activities such as white water rafting, bungee jumping, kayaking, zip lining, mountain biking and rappelling. The
        city also annually hosts the International Yoga Festival where yoga gurus, aficionados, and devotees from around
        the globe throng the place. Rishikesh, literally means Lord of the Senses which stands for Lord Vishnu and the city
        is blessed with the flowing of Holy Ganges. Ever since the Beatles rocked up at the ashram of the Maharishi Mahesh
        Yogi in the late '60s, Rishikesh has been a magnet for spiritual seekers. Cosseted by lush and dense thickets, guarded
        by fascinating peaks and adorned with alluring rivers, camping in Rishikesh becomes an exciting affair for the fun
        and thrill seekers! If you are among one of the adrenaline junkies, this is the place for you to explore, witness
        and discover the charm and appeal of the Mother Nature in its most pristine form.</p>
      <br>
    </div>
  </div>
</section>


<section id="places">
  <div class=" container clearfix custom-height">
    <div>
      <h2 style="text-align:center;margin:6rem 0 10rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
        Key Attractions
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
    </div>

    <div class="row custom-paul-slider">
      <div id="place-carousel" class="carousel slide hidden-xs" data-ride="carousel">
        <a style="    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    z-index: 5;
    left: -2.22222em;" class="btn" href="" data-target="#place-carousel" data-slide="prev">
          <i style="margin:7px 0 0 0px; font-size:15px; font-weight:600;" class="icon-angle-left"></i>
        </a>
        <a style="background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    z-index: 5;
    right: -2.22222em;" class="btn" href="" data-target="#place-carousel" data-slide="next">
          <i style="margin:7px 0 0 0; font-size:15px; font-weight:600;" class="icon-angle-right"></i></a>

        <!-- Wrapper for slides <-->

        <div class="carousel-inner">
          <div class="item active" style="padding:2% 0 2% 0">
            <div class="row">

              <div class="col-sm-3 padding:0 1% 0 1%">

                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[0].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[0].text}}</span>

                </div>

              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[1].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[1].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[2].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[2].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[3].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[3].text}}</span>

                </div>
              </div>
            </div>
          </div>
          <div class="item" style="padding:2% 0 2% 0%">
            <div class="row">

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[4].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[4].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[5].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[5].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[6].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[6].text}}</span>

                </div>
              </div>

              <div class="col-sm-3 padding:0 1% 0 1%">
                <div ng-click="openOrCloseAccordion()" style="cursor:pointer;">
                  <div class="paul-slide-new">
                    <img style="object-fit:cover; width:100%; height:100%;" ng-src="{{placesData[7].imageUrl}}" class="img-responsive" alt="a"
                    />
                  </div>

                  <span class="paul-slider-caption">
                    {{placesData[7].text}}</span>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="place-sm-carousel" class="carousel slide bootstrap-carousel" data-ride="carousel" data-interval="0">
      <a style="background-color: #000000;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 00%;
    margin-bottom: auto;
    margin-top: auto;
    top: 0%;
    z-index: 5;
    left: 1em;" class="btn" href="" data-target="#place-sm-carousel" data-slide="prev">
        <i style="margin:7px 0 0 0px; font-size:15px; color:white; font-weight:600;" class="icon-angle-left"></i>
      </a>
      <a style="background-color: #000000;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 0%;
    z-index: 5;
    right: 1em;" class="btn" href="" data-target="#place-sm-carousel" data-slide="next">
        <i style="margin:7px 0 0 0; font-size:15px; color:white; font-weight:600;" class="icon-angle-right"></i></a>

      <div class="carousel-inner">
        <div class="item" data-ng-repeat="slide in inspirationData" data-ng-class="{active : $first}">
          <img ng-click="openOrCloseAccordion()" ng-touch="openOrCloseAccordion()" style="object-fit:cover; width:100%; height:400px; background-color:#000;"
            ng-src="{{slide.imageUrl}}" class="img-responsive" alt="{{slide.text}}" />
          <span class="paul-slider-caption">
                    {{slide.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div id="accordion1" class="clearfix" style="margin-top:8%;">

    <uib-accordion>
      <uib-accordion-group is-open="openAccordion">


        <div id="placeDetail-carousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <a style="background-color: #12edd0;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 20%;
    z-index: 5;
    left: 3em;" class="btn" href="" data-target="#placeDetail-carousel" data-slide="prev">
            <i style="margin:7px 0 0 0px; font-size:15px; color:white; font-weight:600;" class="icon-angle-left"></i>
          </a>
          <a style="background-color: #12edd0;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 9px;
    line-height: 1;
    transition: color 400ms, box-shadow 400ms;
    height: 4.44444em;
    width: 4.44444em;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0.222222em 0.888889em;
    position: absolute;
    bottom: 0%;
    margin-bottom: auto;
    margin-top: auto;
    top: 20%;
    z-index: 5;
    right: 3em;" class="btn" href="" data-target="#placeDetail-carousel" data-slide="next">
            <i style="margin:7px 0 0 0; font-size:15px; color:white; font-weight:600;" class="icon-angle-right"></i></a>

          <!--<ol class="carousel-indicators">
            <li data-target="#dynamiccontentcarousel" data-ng-repeat="place in placeDetails" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
          </ol>-->

          <div class="carousel-inner" role="listbox">
            <div class="item" data-ng-repeat="place in inspirationData" data-ng-class="{active : $first}">
              <div class="center-block" style="width:80%;">
                <div>
                  <h2 style="text-align:center;margin:2rem 0 2rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;"><br /> {{place.name}}
                    <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
                    </div>
                  </h2>
                </div>

                <div class="dropdown-slider-image">
                  <a href="images/blog3.jpg"><img height="350px" width="100%" ng-src="{{place.imageUrl}}" alt="Standard Post with Image"></a>
                </div>

                <div class="dropdown-slider-content">
                  <span ng-click="closeAccordion()" ng-touch="closeAccordion()" class="glyphicon glyphicon-remove-circle dropdown-slider-button"></span>

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    What is it.....</h4>

                  <p>{{place.description}}
                  </p>

                  <!--<h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    Overview</h4>

                  <p>{{detail.overview}}
                  </p>-->

                  <h4 style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                    How to reach</h4>
                  <p>{{place.howToReachDesc}}
                  </p>

                  <div>
                    <h4 class="pull-left" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Timings - <span>{{place.timing}}</span></h4>
                    <!--
                    <h4 class="pull-right" style="line-height:1.2142857142857142;font-size:18px;font-weight:200;color:#2c3643;">
                      Pricing - <span>{{place.price}}</span></h4>
                    <br /><br /><br /><br />-->
                  </div>

                  <!--<center>
                    <span style="font-size:48px; padding-right:2%; " class="icon-line2-arrow-left"></span>
                    <span style="font-size:48px; padding-left:2%; " class="icon-line2-arrow-right"></span>
                  </center>-->

                </div>
              </div>
            </div>
          </div>
        </div>

      </uib-accordion-group>
    </uib-accordion>

  </div>

</section>

<section class="container">
  <div class="pricing bottommargin clearfix">
    <div>
      <h2 style="text-align:center;margin:6rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
        Approx Price
        <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
        </div>
      </h2>
    </div>

    <div class="col-md-3">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Backpacker</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">&#8377;</span>2000<span class="price-tenure">/head</span>
        </div>
        <!--<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>100</strong> User Accounts</li>
										<li><strong>1 Year</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>-->
      </div>

    </div>

    <div class="col-md-3">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Budget</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">&#8377;</span>4000<span class="price-tenure">/head</span>
        </div>
        <!--<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>100</strong> User Accounts</li>
										<li><strong>1 Year</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>-->
      </div>

    </div>

    <div class="col-md-3">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Comfort</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">&#8377;</span>6000<span class="price-tenure">/head</span>
        </div>
        <!--<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>100</strong> User Accounts</li>
										<li><strong>1 Year</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>-->
      </div>

    </div>

    <div class="col-md-3">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Luxury</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">&#8377;</span>8000<span class="price-tenure">/head</span>
        </div>
        <!--<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>100</strong> User Accounts</li>
										<li><strong>1 Year</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>-->
      </div>

    </div>

  </div>

</section>

<section class="container">
  <div>
    <h2 style="text-align:center;margin:6rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
      Itinerary
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
      </div>
    </h2>
  </div>
   <flip-book ></flip-book>
 
  <!--<table class="table">
    <tbody>
      <tr>
        <td class="table-font" style="width:10%;">Day 1 - 2</td>
        <td class="table-font" style="width:20%;">Mumbai</td>
        <td class="table-font" style="width:60%;">The city of dreams is home to Bollywood and almost twenty million immigrants. There's a lot you can do in Mumbai.
          Take a tour of the largest slum colony in India or go on a Bollywood tour.</td>
        <td class="table-font" style="width:10%;">Abode</td>
      </tr>

      <tr>
        <td class="table-font" style="width:10%;">Day 3 - 4</td>
        <td class="table-font" style="width:20%;">Mumbai</td>
        <td class="table-font" style="width:60%;">The city of dreams is home to Bollywood and almost twenty million immigrants. There's a lot you can do in Mumbai.
          Take a tour of the largest slum colony in India or go on a Bollywood tour.</td>
        <td class="table-font" style="width:10%;">Abode</td>
      </tr>

      <tr>
        <td class="table-font" style="width:10%;">Day 5 - 6</td>
        <td class="table-font" style="width:20%;">Mumbai</td>
        <td class="table-font" style="width:60%;">The city of dreams is home to Bollywood and almost twenty million immigrants. There's a lot you can do in Mumbai.
          Take a tour of the largest slum colony in India or go on a Bollywood tour.</td>
        <td class="table-font" style="width:10%;">Abode</td>
      </tr>

    </tbody>
  </table>-->
</section>
<!-- /.table-responsive -->

<section class="container">
  <div>
    <h2 style="text-align:center;margin:6rem 0 8rem 0;letter-spacing:-0.45px;line-height:1;font-weight:300;font-size:3.8rem;">
      Travel Tips
      <div style="display:block;height:2px;width:30px;background:#dc221a;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:15px;">
      </div>
    </h2>
  </div>

  <div>
    <div class="toggle faq faq-marketplace faq-authors center-block">
      <div ng-click="payment1.isOpen = !payment1.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
        <!--  <i class="toggle-closed icon-question-sign"></i>-->What are different modes of payment for booking a trip through Wanderwagon?</div>


      <uib-accordion>
        <uib-accordion-group is-open="payment1.isOpen">
          <div class="togglec">Wanderwagon allows you to pay through varoius payment options, they are - NEFT TRANSFER, Cash. We will provide
            a confirmation mail along with an e-receipt.</div>
        </uib-accordion-group>
      </uib-accordion>

    </div>
  </div>


  <div class="toggle faq faq-marketplace faq-authors">
    <div ng-click="booking1.isOpen = !booking1.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
      <!--<i class="toggle-open icon-question-sign"></i>-->How do I book a trip through Wanderwagon?</div>


    <uib-accordion>
      <uib-accordion-group is-open="booking1.isOpen">
        <div class="togglec">Online- You will need to create an account on the Wanderwagon website and then you can select a trip listed in the
          event or book a pre planned group trip. You can also form your own group trip. Offline- You can call us or message
          us on our facebook page and tell us about the services you require. You can also send us an email and plan your
          trip.</div>
      </uib-accordion-group>
    </uib-accordion>

  </div>

  <div class="toggle faq faq-marketplace faq-authors">
    <div ng-click="booking2.isOpen = !booking2.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
      <!--<i class="toggle-open icon-question-sign"></i>-->I have posted a trip request on the Wanderwagon website, what should I do now?</div>


    <uib-accordion>
      <uib-accordion-group is-open="booking2.isOpen">
        <div class="togglec">Worry not. We will send an instant email-confirming that we have your request. Our travel expert will contact you
          within 24 hours for further details.
        </div>
      </uib-accordion-group>
    </uib-accordion>

  </div>

  <div class="toggle faq faq-marketplace faq-authors">
    <div ng-click="booking3.isOpen = !booking3.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
      <!--<i class="toggle-open icon-question-sign"></i>-->How do I cancel my booking?</div>


    <uib-accordion>
      <uib-accordion-group is-open="booking3.isOpen">
        <div class="togglec">Log on to our website, go to the booking section, select upcoming trips and request for cancellation. You can also
          cancel your booking by mailing at booking@wanderwagon.com or call us at +919999553113.
        </div>
      </uib-accordion-group>
    </uib-accordion>

  </div>

  <div class="toggle faq faq-marketplace faq-authors">
    <div ng-click="booking4.isOpen = !booking4.isOpen" class="togglet"><i class="toggle-closed icon-play"></i>
      <!--<i class="toggle-open icon-question-sign"></i>-->How long does it take for a refund to be processed?</div>   

    <uib-accordion>
      <uib-accordion-group is-open="booking4.isOpen">
        <div class="togglec">Once a refund is accepted at Wanderwagon it normally takes 5-7 business days to process excluding any delay in banking.
        </div>
      </uib-accordion-group>
    </uib-accordion>

  </div>


  <div ui-sref="plan-trip" class="center-block " style=" width:50%; cursor:pointer; ">
    <a class="button button-3d button-rounded button-blue loved-it-button"> Plan My Trip!</a>
  </div>



</section>
